<template>
    <svg version="1.1" id="logo-svg" class="logo-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 307.5 37.4" style="enable-background:new 0 0 307.5 37.4;" xml:space="preserve">
    <a class="hide-on-fallback">
        <path class="st4" d="M282.7,8.1v4.7h-5.5V8.1H282.7z"/>
        <path class="st0" d="M282.7,12.8v16.5h-5.5V12.8H282.7z"/>
        <path class="st0" d="M210.6,29.4l3.6-21h5.4l4.2,11.2l4.2-11.2h5.4l3.6,21h-5.4l-1.8-12.1l-5,12.1h-2.2l-4.7-12.1L216,29.4H210.6z"
            />
        <path class="st0" d="M252.3,13.1h-7.5v3.5h7.1v4.6h-7.1v3.6h7.5v4.6h-12.9v-21h12.9V13.1z"/>
        <path class="st0" d="M255.7,8.4h8.1c1.4,0,2.8,0.3,4,0.9c1.3,0.6,2.3,1.3,3.3,2.3c0.9,1,1.7,2.1,2.2,3.3c0.5,1.3,0.8,2.6,0.8,4
            c0,1.4-0.3,2.7-0.8,4c-0.5,1.3-1.3,2.4-2.2,3.4c-0.9,1-2,1.7-3.3,2.3c-1.3,0.6-2.6,0.9-4.1,0.9h-8.1V8.4z M261.2,24.8h1.3
            c0.9,0,1.8-0.1,2.5-0.4c0.7-0.3,1.4-0.7,1.9-1.2c0.5-0.5,0.9-1.1,1.2-1.9c0.3-0.7,0.4-1.5,0.4-2.4c0-0.8-0.1-1.6-0.4-2.3
            c-0.3-0.7-0.7-1.3-1.2-1.9c-0.5-0.5-1.1-0.9-1.9-1.2c-0.7-0.3-1.6-0.4-2.5-0.4h-1.3V24.8z"/>
        <path class="st0" d="M300.5,25.8h-7.8l-1.3,3.6h-5.8l8-21h6l8,21h-5.8L300.5,25.8z M299,21.6l-2.5-7l-2.4,7H299z"/>
        <path class="st4" d="M155.8,12.8V8.1h4.6v4.7H155.8z"/>
        <path class="st3" d="M104.3,29.3v-4.7h5.5v4.7H104.3z"/>
        <path class="st0" d="M44.5,29.3l-1.4-3.7h-7.6l-1.5,3.7h-5.8l8.1-21.2h6l8,21.2H44.5z M39.4,14.7l-2.3,6.7h4.6L39.4,14.7z"/>
        <path class="st2" d="M68.4,8.1h5.5v4.5h-5.5V8.1z"/>
        <path class="st0" d="M68.4,29.3l-10.1-13v13h-5.5V8.1h5.5l10.1,13v-8.5h5.5v16.7H68.4z"/>
        <path class="st0" d="M78.4,29.3V8.1h5.5v21.2H78.4z"/>
        <path class="st0" d="M93.8,12.8v3.5h6.6V21h-6.6v8.3h-5.5V8.1h12.1v4.7H93.8z"/>
        <path class="st0" d="M104.3,24.6V8.1h5.5v16.5H104.3z"/>
        <path class="st0" d="M113.7,29.3V8.1h12v4.7h-6.5v3.5h6.5V21h-6.5v3.7h6.5v4.7H113.7z"/>
        <path class="st0" d="M143.1,26.1c-1.4,2.7-4.6,3.7-7.5,3.7c-2.6,0-5.2-0.9-7.4-2.4l2.4-4.4c1.4,1.2,3,2.2,4.9,2.2
            c1.3,0,2.6-0.6,2.6-2.1c0-3.7-9-0.9-9-8.3c0-4.3,2.9-7.1,7.2-7.1c2.3,0,4.7,0.6,6.7,1.7l-2.2,4.3c-1-0.9-2.2-1.4-3.6-1.4
            c-1.1,0-2.3,0.6-2.3,1.8c0,3.1,9,1.1,9,8.3C143.9,23.6,143.6,25.1,143.1,26.1z"/>
        <path class="st0" d="M173.9,30c-6.5,0-11.7-4.6-11.7-11.3c0-6.6,5.2-11.3,11.7-11.3c6.5,0,11.7,4.7,11.7,11.3
            C185.6,25.3,180.4,30,173.9,30z M173.9,12.7c-3.3,0-6,2.7-6,6c0,3.3,2.7,5.9,6,5.9c3.3,0,6-2.6,6-5.9
            C179.9,15.4,177.2,12.7,173.9,12.7z"/>
        <g>
            <polygon class="st1" points="0.8,24.6 0,29.3 5.5,29.3 6.2,24.6 6.2,24.6 	"/>
            <polygon class="st0" points="6.2,24.6 6.2,24.6 6.2,24.6 	"/>
            <polygon class="st0" points="6.2,24.6 0.8,24.6 0.8,24.6 6.2,24.6 	"/>
            <polygon class="st0" points="6.2,24.6 7.3,17.1 12.2,29.3 14.3,29.3 19.5,17.1 21,29.3 26.5,29.3 23.3,8.1 17.8,8.1 13.3,19.4 
                9,8.1 3.6,8.1 0.8,24.6 0.8,24.6 0.8,24.6 	"/>
        </g>
        <path class="st0" d="M155.8,12.8v16.5h-5.5V12.8h-4.5V8.1h10V12.8L155.8,12.8z"/>
        <path class="st0" d="M200.8,0v37.4h-4.5V0H200.8z"/>
        <path class="st4" d="M200.8,0v5.4h-4.5V0H200.8z"/>
    </a>
    <image src="/assets/img/logos/logo-media.png" xlink:href=""/>
</svg>
</template>

<script>
    export default {
        data() {
            return {
            
            }
        },
    }
</script>