<template>
    <div class="items columns is-multiline">
        
        <div v-for="(worker,i) in workers" :key="'worker-'+i" class="item column is-one-quarter-desktop is-half-mobile is-half-tablet is-mobile fadeInVue">

            <div class="image">
                <div class="hashtag level is-mobile"><div v-html="'#'+worker.hashtag"></div></div>
                <img class="photo" :src="'/storage/employees/'+worker.slug+'.jpg'" :alt="worker.name+', '+worker.position" width="100%"/>
            </div>
            <div class="item-info">
                <h3>{{worker.name}}</h3>
                
                {{worker.position}}
            </div>

        </div>

        <div class="is-clearfix"></div>

         <transition-group tag="div" name="fade" duration="100" mode="out-in" class="bt-more">
            <span key="more" v-if="!loading && workers.length < total" @click="nextPage">
                <i class="fa icon icon-img bt"><img src="/assets/img/icon-plus.png" alt="+"></i>
                <div class="text">{{$t('general.see-more')}}</div>
            </span>

            <span key="loading" v-if="loading">
                <i class="icon">
                    <i class="fa fa-circle-o-notch fa-spin fa-fw spinner"></i>
                </i>
                <div class="text">{{$t('general.loading')}}</div>
            </span>

            <a id="goto-top" href="#" key="top" v-if="workers.length==total" :title="$t('general.goto-top')">
                <i class="fa icon icon-img"><img src="/assets/img/icon-arrow-up.png"></i>
            </a>
        </transition-group>

    </div>

</template>

<script>

export default {
    mounted() {
        var vm = this;
        vm.loadWorkersJson(vm.offset, vm.limit);
    },
    created() {
        var vm = this;
    },
    computed: {
        offset:function(){
            var vm = this;
            return (vm.page>0) ? (vm.page+1) * 4 : 0
        },
        limit:function(){
            var vm = this;            
            return (vm.page>0) ? 4 : 8
        }
    },
    data() {
        return {
            i18n,
            workers: [],
            total:0,
            page: 0,
            loading:true,
            locale:Config.locale
        }
    },
    components: {

    },
    methods: {
        loadWorkersJson: function (offset, limit) {
            var vm = this;
            vm.loading=true
            axios.post('/'+vm.locale+'/about/worker-list/'+offset+'/'+limit)
                .then(function (response) {
                    if (response.data.success) {
                        vm.workers = _.concat(vm.workers, response.data.workers);
                        vm.total = response.data.total
                        if(offset>0){
                            TweenMax.to(window, 0.2, { scrollTo: {y:'.item:nth-last-child(5)', offsetY:0} });
                        }
                        window.bus.$emit('hidePreload')
                    }
                    vm.loading=false
                    if(offset>0){
                        vm.$ga.event('button', 'click', 'load_workers', offset)
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        nextPage: function () {
            var vm = this;
            vm.page++
            vm.loadWorkersJson(vm.offset, vm.limit)
            TweenMax.to(window, 0.5, { scrollTo: {y:'.bt-more', offsetY:0} });
        }
    }
}
</script>