<template>
    <div class="container">
        <div id="projects" class="@if($projectSlug) @endif">
            <div id="projectsInner">
                
                <div id="projectsBody" class="containerWorks columns is-multiline is-marginless">
                    
                    <router-link tag="div" :to="'/'+locale+'/works/'+project.slug" v-for="(project,i) in projects" :class="classObject(i % 4)" :key="project.slug">
                        <div class="itemProjectImageContainer">
                            <div :class="['itemProjectImage', 'color_'+(i % 4)]"  :id="'itemProjectImage_'+i" v-lazy:background-image="'/storage/projects/'+project.slug+'/home.jpg'">
                                <span :class="['itemProjectImageOpacityLayer', 'color_'+(i % 4)]"></span>
                            </div>
                            
                            <img class="clientLogo" :src="'/storage/clients/'+project.client+'.png'">
                            
                        </div>
                    
                        <div class="itemProjectInfo">
                            <h2 class='font-bold'>{{project.title}}</h2>
                            <span class='font-regular'>{{project.caption}}</span>
                        </div>
                    </router-link>
                    
                    <transition-group tag="div" name="fade" duration="100" mode="out-in" class="bt-more">
                        <span key="more" v-if="!loading && projects.length < total" @click="nextPage">
                            <i class="fa icon icon-img bt"><img src="/assets/img/icon-plus.png" alt="+"></i>
                            <div class="text">{{$t('general.see-more')}}</div>
                        </span>

                       <span key="loading" v-if="loading">
                            <i class="icon">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw spinner"></i>
                            </i>
                            <div class="text">{{$t('general.loading')}}</div>
                       </span>

                        <a id="goto-top" href="#" key="top" v-if="projects.length==total" :title="$t('general.goto-top')">
                            <i class="fa icon icon-img"><img src="/assets/img/icon-arrow-up.png"></i>
                        </a>
                    </transition-group>
    
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    mounted() {
        var vm = this;
        vm.loadProjectsJson(vm.offset, vm.limit);
    },
    created() {
        var vm = this;
    },
    computed: {
        offset:function(){
            var vm = this;
            return (vm.page>0) ? (vm.page+1) * 4 : 0
        },
        limit:function(){
            var vm = this;            
            return (vm.page>0) ? 4 : 8
        }
    },
    data() {
        return {
            i18n,
            projects: [],
            total:0,
            page: 0,
            loading:true,
            locale:Config.locale
        }
    },
    components: {

    },
    methods: {
        classObject: function (i) {
            return [
                'itemProject',
                'color_' + i,
                'column',
                'is-one-quarter-desktop',
                'is-half-tablet',
                'is-12-mobile',
                'fadeInVue'
            ]
        },
        loadProjectsJson: function (offset, limit) {
            var vm = this;
            vm.loading=true
            axios.post('/'+vm.locale+'/works/project-list/'+offset+'/'+limit)
                .then(function (response) {
                    if (response.data.success) {
                        vm.projects = _.concat(vm.projects, response.data.projects);
                        vm.total = response.data.total
                        if(offset>0){
                            TweenMax.to(window, 0.2, { scrollTo: {y:'.itemProject:nth-last-child(5)', offsetY:70} });
                        }
                    }
                    vm.loading=false
                    window.bus.$emit('hidePreload')
                    if(offset>0){
                        vm.$ga.event('button', 'click', 'load_projects', offset)
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        nextPage: function () {
            var vm = this;
            vm.page++
            TweenMax.to(window, 0.5, { scrollTo: {y:'.bt-more', offsetY:70} });
            vm.loadProjectsJson(vm.offset, vm.limit)
        }
    }
}
</script>