<template>
    <div class="audio-container">
        <div :class="['audio-content',{'playing':isPlaying}]" @click="audio('toggle')">
            <audio :id="'audio-'+source">
                <source :src="'/storage/projects/'+slug+'/'+source+'.mp3'" type="audio/mpeg">
                <source :src="'/storage/projects/'+slug+'/'+source+'.ogg'" type="audio/ogg">
            </audio>
        </div>
    </div>  
</template>

<script>

export default {
    mounted() {
        var vm = this;
        vm.instance = document.getElementById("audio-"+vm.source);
        vm.instance.addEventListener('ended',vm.onAudioEnd,false);
    },
    created() {
        var vm = this;
        window.bus.$on('stopAllAudio', function () {
            vm.audio('pause')
            vm.instance.currentTime=0;
        })
    },
    props:[
        'source',
        'slug'
    ],
    data() {
        return {
           isPlaying:false
        }
    },
    components: {
        
    },
    methods: {
        audio: function(action){
            var vm = this;
            var ga_id = 'audio-'+vm.slug+'-'+vm.source
            switch(action) {
                case 'play':
                    window.bus.$emit('stopAllAudio')
                    vm.instance.play();
                    vm.isPlaying=true;
                    vm.$ga.event(ga_id, 'click', 'play')
                    break;
                case 'pause':
                    vm.instance.pause();
                    vm.isPlaying=false;                                         
                    vm.$ga.event(ga_id, 'click', 'pause')
                    break;
                case 'toggle':
                    vm.instance.paused ? vm.audio('play') : vm.audio('pause');
                    break;
            }
        },
        onAudioEnd: function(){
            var vm = this;
            vm.isPlaying=false;
        }
    }
}
</script>