<template>
    <a type="button" class="video-button col-md-4 col-lg-3 col-sm-6 col-xs-12 fadeInUp preanimate" :data-vimeo="id" @click="openVideo(id)">
        <div class="video-thumb">
            <div class="play-button">&nbsp;</div>
            <vue-picture :project_slug="ps" :image_path="ip" :image="'video-'+id+'.jpg'" imageclass="img-width-fix" alt="title"></vue-picture>
        </div>

        <h4>{{title}}</h4>
    </a>
</template>

<script>



export default {
    mounted() {
        var vm = this;

    },
    created() {
        var vm = this;
    },
    props:[
        'title',
        'slider',
        'id',
        'ps',
        'ip'
    ],
    data() {
        return {

        }
    },
    methods: {
      openVideo(id){
          window.bus.$emit('openVideoModal',{id:id})
      }
    },
    components: {
        'vue-picture':require('./VuePicture.vue')
    }
}
</script>