<template>
    <transition name="fade" :duration="{ enter: 300, leave: 0 }" v-if="opened">
        <div class="video-modal" @click.prevent="opened=false">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <iframe class="video" id="vid" :src="src" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <img class="modal-close-button" src="/assets/img/projects/icons/video-close.png" @click="opened=false"/>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
  data() {
    return {
        src:'',
        opened:false
    };
  },
  created() {
    var vm = this;
    window.bus.$on("openVideoModal", function(p) {
      vm.open(p.id);
    });
  },
  methods:{
    open(id) {
        var vm = this
        vm.src = '//player.vimeo.com/video/' + id + '?api=1&player_id=main&autoplay=1'
        vm.opened=true
        vm.$ga.event('video-modal', 'open', id)
    }
  }
};
</script>
