<template>
   <!-- <picture>
        <source :srcset="'/i/mobile/'+project_slug+'/'+image" media="(max-width: 480px)">
        <source :srcset="'/i/tablet/'+project_slug+'/'+image" media="(max-width: 990px)">
        <source :srcset="image_path+image">
        <img :src="image_path+image" :class="[imageclass]" :id="id" :alt="alt">
    </picture> -->

    <img v-lazy="image_path+image"
        :data-srcset="mobile+' 320w, '+mobile+' 640w, '+image_path+image+' 1024w'"
            sizes="(min-width: 768px) 50vw, 100vw"
            :class="[imageclass, 'lazy']"
            :id="id"
            :alt="alt"/>
</template>

<script>



export default {
    mounted() {
        var vm = this;

    },
    created() {
        var vm = this;
    },
    props:[
        'image',
        'image_path',
        'project_slug'
    ],
    data() {
        var vm = this;
        return {
            tablet:'/i/mobile/'+vm.project_slug+'/'+vm.image,
            mobile:'/i/tablet/'+vm.project_slug+'/'+vm.image
        }
    },
    methods: {
      
    },
    components: {
        
    }
}
</script>