/*
a {
    &:hover {
        color: $red;
        text-decoration: none;
    }
    &:active, &:focus {
        color: $green;
        text-decoration: none;
    }
} 

a, a:hover, a:active, a:focus {
    outline: none;
}
*/
.divinputadminregister{
  padding-right:15px;
}
.imgloadinggif{
  margin-top:-30px;
}
#loadinggif{
  display:none;
}
#modalwarningh3{
  text-align:center;
}
#timer{
  letter-spacing:50px;
  text-align:center;
  font-size:40px;
  color:black;
}
.modal-footer{
  color:white;
}
.headerimgmenuproject2{
  display:none;
}
.placeholder-style{
  height:74px;
}
.none{
  display:none;
}
.hidden-td{
  display:none;
}
#table1{
}
.formactionmenuemployee{
  display:table-cell;
}
.editdeleteproyecto{
  display:none;
}
.colmd6login{
  padding-right:15px;
}
.form-group-clienterelacion{
  padding:15px;
}
.colsm6btnno{
    margin-left:-15px;
  }
  .tableeditclient{
    margin-top:94px;
  }
  .seleccionarimgclientedit{
    width:150px;
  }
  .imgeditclient{
    width:150px !important;
    height:150px !important;
  }
  .pDivError{
    font-size:14px;
    color:#C58181;
    margin: 15px;
  
  }
  .pError{
    color:#B15B5B;
    font-size:14px;
    font-weight:bold;
    margin: 0 0 0px;
  }
  .divheadermal{
    background-color:#F2DEDE;
    margin-bottom:5px;
  }
  .divhomemal{
    background-color:#F2DEDE;
    margin-bottom:5px;
  }
  .divheaderhometamaños{
    background-color:#F2DEDE;
    margin-bottom:5px;
  }
  .divhometamañoincorrecto{
    background-color:#F2DEDE;
    margin-bottom:5px;
  }
  .divheaderhometamañoincorrecto{
    background-color:#F2DEDE;
    margin-bottom:5px;
  }
  .divfaltacliente{
    background-color:#F2DEDE;
    margin-bottom:5px;
  }
  .divclientetamaño{
    background-color:#F2DEDE;
    margin-bottom:5px;
  }
  .divtrabajadortamañoincorrecto{
    background-color:#F2DEDE;
    margin-bottom:5px;
  }
  .divtrabajadormal{
    background-color:#F2DEDE;
    margin-bottom:5px;
  }
  .imgclient{
    width:20%;
  }
  .sizeimageclient{
    background-color:grey;
    width:75px;
  }
  .ukflag {
    width: 20px;
  }
  
  .esflag {
    width: 20px;
  }
  
  hr.hroneditclient {
    margin-top: 50px;
  }
  
  .imgprojectoneditclient {
    width: 100%;
  }
  
  .atraductiontitle {
    display: inline-block;
  }
  
  .h4traductiontitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .listprojects {
    margin-top: -35px;
    margin-bottom: 50px;
  }
  
  .modal-title {
    color: black;
  }
  
  .h3employeeedit {
    margin-left: 15px;
  }
  
  .crearnuevoadmin {
    margin-left: 15px;
  }
  
  #buttonchangepublicemployee {
    background: none;
    border: 0;
    color: inherit;
    outline: none;
  }
  
  #buttonchangepublicproject {
    background: none;
    border: 0;
    color: inherit;
    outline: none;
  }
  
  .buttonchangepublicproject {
    cursor: pointer;
  }
  
  .buttonchangepublicemployee {
    cursor: pointer;
  }
  
  .buttonpreviewproject {
    margin-top: 15px;
    margin-left: 25px;
    background-color: #23517F;
    width: 200px;
  }
  
  .canceleditproject {
    margin-left: 10px;
  }
  
  .canceleditclient {
    margin-left: -15px;
  }
  
  .updateeditclient {
    margin-left: 0px;
  }
  
  .updateeditproject {
    margin-left: 9px;
  }
  
  .fa-caret-up {
    padding-left: 5px;
  }
  
  .fa-caret-down {
    padding-left: 5px;
  }
  
  .hrefcancelrelacion {
    display: none;
  }
  
  .btn-lg {
    font-size: 14px;
  }
  
  .hrefcanceltraduccion {
    display: none;
  }
  
  .btncrearadmin {
    width: 100%;
    background-color: #205081;
  }
  
  .hrefcancel {
    display: none;
  }
  
  .row {
    margin-right: 0px !important;
  }
  
  div#createdupdatedemployee {
    margin-top: 65px;
  }
  
  .h3employee {
    color: black;
  }
  
  .h3employeeedit {
    color: #23517F !important;
  }
  
  .h3clienteedit {
    color:black !important;
  }
  
  .h3projectedit {
    color: #23517F !important; 
  }
  
  input.btn.btn-danger.btn-block.colsm6btnsi.project {
    margin-top: -14px;
  }
  input.btn.btn-danger.btn-block.colsm6btnsi.inputsiemployee {
    margin-top: -14px;
  }
  .puestoemployee2 {
    display: none;
  }
  
  .nameproject2 {
    display:none;
  }
  
  
  .modal-bodycreateclient {
    height: 200px;
  }
  
  .h3projectedit {
    margin-left: 15px;
  }
  
  div#partialclientedit {
    margin-left: 10px;
  }
  
  .btnenordenemployee {
    display: none;
  }
  
  .table {
    margin-bottom: 45px !important;
  }
  
  .colclientexist {
    display: none;
  }
  
  .h3client {
    margin-left: 15px;
  }
  
  form#projectclientexist {
    margin-top: -30px;
  }
  
  .roweditclient {
    display: inline;
  }
  
  .canceleditclient2 {
    display: none;
  }
  
  #headerimgmenuproject2 {
    display: none;
  }
  
  .homeimgmenuproject {
    display: none;
  }
  
  .hashtagemp2 {
    display: none;
  }
  
  .nameemployee2 {
    display: none;
  }
  
  .slugemployee2 {
    display: none;
  }
  
  #content {
    background-color: white;
  }
  
  .alert-danger {
  }
  
  .col-md-12 {
    padding-left: 0px !important;
  }
  
  #left {
    width: 13% !important;
  }
  
  .head {
    width: 100%;
  }
  
  .search-bar {
    width: 13%;
    float: left;
  }
  
  .imgeditemployee {
    width: 300px !important;
    height: 277px !important;
  }
  

  
  .nameClientModal {
    width: 100% !important;
  }
  
  .slugClientModal {
    width: 100% !important;
  }
  
  .priorityClientModal {
    width: 100% !important;
  }
  
  .modal-body {
    height: 16vh !important;
  }
  
  .col3 {
    margin-left: 5px;
    margin-right: 60px;
  }
  
  .col-md-12.col12 {
    margin-top: 5px;
    margin-left: -14px;
  }
  
  .dropdown-menu {
    left: auto !important;
    right: 0 !important;
  }
  
  .dropdown {
    display: none;
  }
  
  tr {
    border-top: 1px solid #ddd;
  }
  
  td {
    border-top: 0px solid black !important;
  }
  
  .search-bar {
    text-align: center;
    letter-spacing: 6px;
  }
  
  .head {
    background-color: #205081;
  }
  
  .glyphicon-align-justify {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  .user {
    width: 10%;
    margin-top: 23px;
    text-align: center;
  }
  
  .user .name {
    display: inline-block;
    color: white;
    font-size: 17px;
  }
  
  .previewemployee {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: right;
    margin-left: 27%;
  }
  
  .previewproject {
    width: 77%;
    margin-top: 20px;
    text-align: right;
  }
  
  .glyphicon-eye-open {
    margin-right: 5px;
  }
  
  .glyphicon-arrow-up {
    color: #205081;
  }
  
  .glyphicon-arrow-down {
    color: #205081;
  }
  
  .glyphicon-cog {
    color: #205081;
  }
  
  #wrap {
    background-color: #252525 !important;
  }
  
  #menu > li > a {
    background-color: #252525;
  }
  
  #menu > li > a:hover {
    background-color: #161616;
  }
  
  #projects {
    background-color: white;
  }
  
  #clients {
    background-color: white;
  }
  
  #employees {
    background-color: white;
  }
  
  #admins {
    background-color: white;
  }
  
  #buttonaddproject {
    margin-top: 7px;
    padding: 11px;
    background-color: white;
  }
  
  #buttonaddclient {
    margin-top: 6px;
    padding: 11px;
    background-color: white;
  }
  
  #buttonaddemployee {
    margin-top: 7px;
    padding: 11px;
    background-color: white;
  }
  
  #buttonaddadmin {
    padding: 11px;
    background-color: white;
  }
  
  .h3project {
    letter-spacing: 5px;
    text-align: left;
    color: black;
  }
  
  .h3cliente {
    letter-spacing: 5px;
    text-align: left;
    color: black;
  }
  
  .h3administradores {
    letter-spacing: 5px;
    text-align: left;
    color: black;
  }
  
  .h3employee {
    letter-spacing: 5px;
    text-align: left;
    color: black;
  }
  
  #buttoncreate {
    background-color: #205081;
    margin-left: 58px;
  }
  
  #buttoncreate:hover {
    color: white;
  }

  .idrow {
    background-color: #EEEEEE;
    width: 5%;
  }
  
  .visibleproject {
    width: 10%;
  }
  
  .nameproject {
    width: 40%;
  }
  
  .imgproject {
    width: 9%;
  }
  
  .orderproject {
    width: 14.5%;
  }
  
  .idclients {
    background-color: #EEEEEE;
    width: 5%;
  }
  
  .idemployees {
    background-color: #EEEEEE;
    width: 5%;
  }
  
  .visibleemployee {
    width: 6%;
  }
  
  .nameemployee {
    width: 12%;
  }
  
  .hashtagemp > p {
    width: 164px;
    display: inline-block;
    word-wrap: break-word;
  }
  
  .slugemployee {
    width: 16%;
  }
  
  .puestoemployee {
    width: 19%;
  }
  
  .imagenemployee {
    width: 4%;
  }
  
  .ordenemployee {
    width: 8%;
  }
  
  
  .nameclient {
    width: 31%;
  }
  
  .slugclient {
    width: 31%;
  }

  
  .priorityclient {
    width: 20.5%;
  }
  
  .nameadmin {
    width: 40%;
  }
  
  .emailadmin {
    width: 40%;
  }
  
  .actionsclient {
    width: 30%;
  }
  
  .idadmin {
    background-color: #EEEEEE;
    width: 8%;
  }
  
  #margindata {
    margin-top: 20px;
  }
  
  #margindataemployee {
    margin-top: 20px;
  }
  
  .sizeheader {
    width: 100px;
    height: 40px;
    margin-top: 10px;
  }
  
  .sizehome {
    width: 100px;
    margin-top: 10px;
  }
  
  .sizeimage {
    width: 70;
  }
  
  .inputstranslate {
    width: 400px;
  }
  
  #pathheader, #pathhome, #pathimage {
    display: none;
  }
  
  #browse_file {
    width: 380px;
  }
  
  .slugnameproject {
    width: 380px;
  }
  
  #nameClient {
    width: 380px;
  }
  
  #slugClient {
    width: 380px;
  }
  
  #priorityclient {
    width: 380px;
  }
  
  #nameEmployee {
    width: 380px;
  }
  
  #hashtagemp {
    width: 380px;
  }
  
  #slugEmployee {
    width: 380px;
  }
  
  #positionEmployee {
    width: 380px;
  }
  
  #formcrearproyecto {
    display: none;
    background-color: white;
    padding: 10px !important;
    height: 91vh;
  }
  
  #formcreateproject {
    height: 85vh;
  }
  
  #formcreartraducciones {
    display: none;
    background-color: white;
    padding: 10px !important;
    height: 88vh;
  }
  
  #formcrearcliente {
    display: none;
    height: 94vh;
    padding: 10px !important;
  }
  
  #formcreartrabajador {
    display: none;
    background-color: white;
    padding: 10px !important;
  }
  
  #formcreateclient {
    height: 86vh;
  }
  
  #createprojectsubmit {
    width: 380px !important;
    background-color: #205081;
    border-color: grey;
  }
  
  #createtranslatesubmit {
    background-color: #205081;
    border-color: grey;
    width: 350px;
  }
  
  h2 {
    color: black;
  }
  
  #relationclientexist {
    background-color: #205081;
    border-color: grey;
  }
  
  #relationclientnotexist {
    background-color: #205081;
    border-color: grey;
    margin-bottom: 15px !important;
  }
  
  #createclientsubmit {
      margin-top:-5px;
    width: 380px;
    background-color: #205081;
    border-color: grey;
  }
  
  #closemodal {
    color:white;
    background-color: #C73232;
  }
  
  div#table1 {
    width: 100%;
    margin-bottom: -15px;
    background-color: white;
  }
  
  div#tableadmin {
    margin-top: -1px;
    width: 100%;
    margin-bottom: -15px;
    background-color: white;
    margin-left: 1px;
    height: 82vh;
  }
  
  div#partialproject {
    width: 100%;
    margin-bottom: -15px;
    background-color: white;
  }
  
  div#partialadmin {
    width: 100%;
    margin-bottom: -15px;
    background-color: white;
  }
  
  div#partialclient {
    width: 100%;
    margin-bottom: -15px;
    background-color: white;
    margin-left: 0px;
  }
  
  div#partialemployee {
    width: 100%;
    margin-bottom: -15px;
    background-color: white;
  }
  
  div#partialemployeeedit {
    width: 100%;
    margin-bottom: -15px;
    background-color: white;
    margin-left: 10px;
  }
  
  div#partialprojectedit {
    width: 100%;
    margin-left: 10px;
    margin-bottom: -15px;
    background-color: white;
  }
  
  div#partialclientedit {
    width: 100%;
    margin-bottom: -15px;
    background-color: white;
  }
  
  #formcrearadmin {
    display: none;
  }
  
  th.columnidclient {
    width: 66px;
  }
  
  th.columnidemployee {
  }
  
  th.columnidadmins {
    width: 66px;
  }
  
  #tableclients {
    margin-top: 2px;
    width: 100%;
    margin-bottom: -15px;
    background-color: white;
  }
  
  #tableadmin {
    margin-top: 7px;
  }
  
  #tableemployees {
  height:80vh;
    width: 100%;
    margin-bottom: -15px;
    background-color: white;
  }
  
  thead {
    background-color: #EEEEEE;
    border-color: #DDDDDD;
  }
  
  .img {
    background-color: #ccc;
    border: 2px solid gray;
    width: 380px;
    height: 150px;
    margin-top: -30px;
  }
  
  .img2 {
    background-color: #ccc;
    border: 2px solid gray;
    width: 380px;
    height: 150px;
  }
  
  #browse_file2 {
    width: 380px;
  }
  
  #divclientexist {
    display: none;
    background-color: white;
  }
  
  div#divclientexist {
    padding: 10px !important;
  }
  
  .colclientexist {
    display: none;
    padding: 10px !important;
  }
  
  #divclientdoesntexist {
    display: none;
    background-color: white;
    height: 56vh;
    padding: 10px !important;
  }
  
  h3 {
    color: black;
  }
  
  label {
    color: black;
  }
  
  p {
    color: black;
  }
  
  #browse_file {
    background-color: #EEEEEE;
    color: black;
    border-color: #808080;
  }
  
  #browse_file:hover {
    background-color: #b3b3b3;
  }
  
  #browse_file2 {
    background-color: #EEEEEE;
    color: black;
    border-color: #808080;
  }
  
  #browse_file2:hover {
    background-color: #b3b3b3;
  }
  
  #editproject {
    background-color: white;
    height: 90vh;
    padding: 20px;
  }
  
  #editclient {
    background-color: white;
    height: 92vh;
    padding: 20px;
    margin-bottom: 10%;
  }
  
  #editemployee {
    background-color: white;
    height: 93vh;
    padding: 20px;
  }
  
  .well {
    text-align: center;
    color: black;
  }
  
  .dl-vertical {
    text-align: center;
  }
  
  #buttoncreateclient {
    background-color: #205081;
    border-color: #205081;
    margin-left: 72px;
  }
  
  #buttoncreateclient:hover {
    color: white;
  }
  
  #buttoncreateemployee {
    background-color: #205081;
    border-color: #205081;
    margin-left: 47px;
  }
  
  #buttoncreateemployee:hover {
    color: white;
  }
  
  #buttoncreateadmin {
    margin-top: 7px;
    background-color: #205081;
    border-color: #205081;
    margin-left: 75px;
  }
  
  #buttoncreateadmin:hover {
    color: white;
  }
  
  div#formcrearadmin {
    height: 88vh;
    background-color: white;
  }
  
  .panel {
    margin-top:100px;
    margin-left:30px;
    margin-right:30px;
  }
  
  .footer {
    background-color: #205081;
    color: white;
    position: fixed;
  }
  
  .footerword {
    color: white;
  }
  
  .fa-check {
    color: #449D44;
  }
  
  .fa-times {
    color: #C9302C;
  }
  
  .thcenter {
    text-align: center;
  }
  
  .tdcenter {
    text-align: center;
  }
  
  .fa-caret-up {
    position: absolute;
    font-size: 18px;
    margin-top: -3px;
  }
  
  .fa-caret-down {
    position: absolute;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .ui-sortable-handle {
    cursor: move;
  }
  
  .resizenone {
    resize: none;
  }
  
  .fa-power-off {
    color: #5cb85c;
  }
  
  .fapoweroff:hover .fa-power-off {
    color: #d9534f;
  }
  
  input[type=radio] {
    display: inline;
    background-color: black;
  }
  
  input[type=radio] + label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0px;
    background: grey;
  }
  
  input[type=radio].visible:checked + label {
    background: #5cb85c;
  }
  
  input[type=radio].novisible:checked + label {
    background: #d9534f;
  }
  
  .ui-sortable-helper {
    background-color: grey;
    left:0px !important;   
    height:74px !important; 
    
    display:table !important;
  }
  .ui-sortable-helper table{
    width:100%;
  }
  .ui-sortable-handle{
    height:74px !important;
  }
  .ui-sortable-helper td {
  }
  
  .imgedit {
    width: 20px;
  }
  
  .editinfoemployee {
    margin-left: 15px;
  }
  
  .welleditproject {
    margin-top: 65px;
    padding-left: 2px;
  }
  
  .welleditclient {
    margin-top: 65px;
  }
  
  #imageupdateemployee {
    margin-top: 93px;
  }
  
  .col6translate {
    padding-left: 0px !important;
  }
  
  .col6translatees {
    padding-left: 0px !important;
  }
  
  .paddingleftprojectclient {
    padding-left: 0px !important;
  }
  
  .col-md-4.editinfoemployee {
    width: 30% !important;
  }
  
  .limenu {
    margin-left: 0px !important;
  }
  
  .editdeleteproyectoinsideorden {
    display: none;
  }
  
  .formeditdeletemenuemployee {
    display: none;
  }
  
  i#margindataemployee {
    font-size: 20px;
  }
  
  #createtranslatesubmit {
    width: 400px;
  }
  .buttoncreateclientmodal {
    width: 100% !important;
    margin-top:-10px !important;
  }
  
  @media (max-width: 1628px) {
    .formeditdeletemenuemployee {
      display: none;
    }
    .previewemployee {
      text-align: right;
      margin-left: 27%;
    }
    #buttoncreate {
      text-align: right;
      margin-left: 25%;
    }
    #buttoncreateclient {
      text-align: right;
      margin-left: 28%;
    }
    .inputstranslate {
      width: 350px;
    }
    #buttoncreateemployee {
      text-align: right;
      margin-left: 18%;
    }
    .editinfoemployee {
      width: 23%;
      padding-left: 38px;
    }
    .editdeleteproyectoinsideorden {
      display: none;
    }
    #createtranslatesubmit {
      width: 350px;
    }
  }
  
  @media (max-width: 1400px) {
    .welleditproject {
      margin-top: 60px;
    }
    li {
      margin-left: -25px !important;
    }
    #buttoncreateclient {
      text-align: right;
      margin-left: 30%;
    }
    .previewemployee {
      margin-left: -5%;
    }
    #buttoncreateemployee {
      text-align: right;
      margin-left: -2%;
    }
    .previewemployee {
      text-align: right;
      margin-left: 26%;
    }
    #buttoncreateadmin {
      text-align: right;
      margin-left: 30%;
    }
    div#tableadmin {
      height: 87vh;
    }
    .nameproject {
      width: 34%;
    }
    #buttoncreate {
      margin-left: 20%;
    }
    .hashtagemp > p {
      width: 120px;
    }
    .slugemployee {
      width: 12%;
    }
    .h3project {
      margin-top: 20px;
    }
    .img {
      width: 190px;
      height: 75px;
    }
    .img2 {
      width: 190px;
      height: 75px;
    }
    #browse_file {
      width: 190px;
    }
    #browse_file2 {
      width: 190px;
    }
    .imgcreate {
      width: 380px !important;
      height: 150px !important;
    }
    .seleccionar {
      width: 380px !important;
    }
    .h3projectedit {
      margin-top: 20px !important;
    }
    .h3slugprojectedit2 {
      font-size: 20px;
    }
    .inputeditclient {
      width: 100% !important;
    }
    .welleditemployee {
      margin-left: 100px;
      width: 100%;
    }
    .col-md-4.editinfoemployee {
      width: 27% !important;
    }
    .editdeleteproyectoinsideorden {
      display: none;
    }
    .head .searchbar {
      border-right: 0px solid !important;
      box-shadow: 0px !important;
      border-bottom: 0px solid !important;
      box-shadow: 0 0px 0 !important;
    }
  }
  
  @media (max-width: 1200px) {
    .h4traductiontitle {
      font-size: 17px;
    }
    .puestoemployee {
      width: 8%;
    }
    #left {
      width: 15% !important;
    }
    #content {
      width: 85% !important;
    }
    #buttoncreate {
      text-align: right;
      margin-left: -1%;
    }
    #buttoncreateemployee {
      text-align: right;
      margin-left: -18%;
    }
    #buttoncreateclient {
      text-align: right;
      margin-left: 10%;
    }
    #buttoncreateadmin {
      text-align: right;
      margin-left: 15%;
    }
    .previewemployee {
      text-align: right;
      margin-left: 26%;
    }
    .nameclient {
      width: 29.5%;
    }
    .priorityclient {
      width: 23%;
    }
    .slugclient {
      width: 29.5%;
    }
    .nameadmin {
      width: 34%;
    }
    .emailadmin {
      width: 39%;
    }
    .nameproject {
      width: 29%;
    }
    .hashtagemp > p {
      width: 100px;
    }
    .nameeditemployee {
      width: 200px;
    }
    .hashtageditemployee {
      width: 200px;
    }
    .slugeditemployee {
      width: 200px;
    }
    .positioneditemployee {
      width: 200px;
    }
    input[type=radio] + label {
      padding: 5px 10px !important;
    }
    .col-md-4.editinfoemployee {
      width: 23% !important;
      padding-left: 9px;
    }
    .welleditemployee {
      margin-left: 140px;
    }
    .editdeleteproyectoinsideorden {
      display: none;
    }
    .btnupdateeditemployee {
      width: 105% !important;
    }
  }
  
  @media (max-width: 1024px) {
    #left {
      width: 15% !important;
    }
    .slugemployee {
      width: 11%;
    }
    .hashtagemp {
      width: 4%;
      word-wrap: break-word;
    }
    .nameclient {
      width: 30%;
    }
    .slugclient {
      width: 27%;
    }
    .priorityclient {
      width: 21%;
    }
    .nameproject {
      width: 27%;
    }
    .orderproject {
      width: 10%;
    }
    .previewemployee {
      text-align: right;
      margin-left: 27%;
    }
    #buttoncreate {
      text-align: right;
      margin-left: -10%;
    }
    #buttoncreateclient {
      text-align: right;
      margin-left: -1%;
    }
    #buttoncreateemployee {
      text-align: right;
      margin-left: -14%;
    }
    #buttoncreateadmin {
      text-align: right;
      margin-left: 9%;
    }
    .inputstranslate {
      width: 300px;
    }
    .hashtagemp > p {
      width: 100px;
    }
    #createclientsubmit {
      width: 380px;
    }
    .buttoncreateclientmodal {
      width: 100% !important;
    }
    .editdeleteproyectoinsideorden {
      display: none;
    }
    #createtranslatesubmit {
      width: 300px;
    }
  }
  
  @media (max-width: 991px) {
    .placeholder-style{
      height:90px;
    }
    .welleditclient {
      margin-top: -15px;
    }
    .hroneditclient {
      margin-top: 40px;
      margin-left: 15px;
    }
    .h4traductiontitle {
      font-size: 14px;
    }
    .col3projectofclient {
      display: inline-table;
      width: 49% !important;
    }
    .updateeditproject {
      margin-left: 0px;
    }
    .canceleditproject {
      margin-left: 15px;
    }
    .btnupdateeditemployee {
      margin-left: -15px;
    }
    .updateeditclient {
      width: 100%;
    }
    #buttoncreateemployee {
      margin-left: -62%;
    }
    div#tableadmin {
      margin-top: 40px;
    }
    #tableemployees {
      margin-top: 42px;
    }
    #clients {
      width: 83.3333337% !important;
      margin-top: -3px;
    }
    .col3 {
      float: left;
    }
    .buttoncreateclientmodal {
      width: 100% !important;
    }
    .col-md-12.col12 {
      margin-top: 30px;
    }
    .tremployee {
      font-size: 12px;
    }
    td {
      font-size: 12px;
    }
    .sizeheader {
      width: 100px;
      height: 40px;
    }
    .sizehome {
      width: 100px;
      height: 40px;
    }
    .previewemployee {
      margin-right: 12%;
      margin-top: 20px;
      margin-bottom: 0px;
    }
    .user {
      margin-top: -30px !important;
      float: right;
    }
    #listallprojects {
      margin-top: -20px !important;
      background-color: white;
    }
    #listalladmins {
      margin-top: -27px !important;
    }
    #listallclients {
      margin-top: 20px !important;
    }
    #buttonaddproject {
      width: 16.3333337% !important;
      float: right;
      margin-right: 54px !important;
    }
    #buttonaddemployee {
      float: right;
      width: 16.3333337% !important;
      margin-top: -48px;
    }
    #projects {
      width: 83.3333333% !important;
      margin-top: 40px;
    }
    #employees {
      width: 83.3333333% !important;
      margin-top: 21px;
    }
    #admins {
      width: 83.3333333% !important;
    }
    #buttonaddadmin {
      width: 16.3333337% !important;
      float: right;
      margin-right: 15%;
    }
    .idemployees {
      display: none;
    }
    .columnidemployee {
      display: none;
    }
    .nameemployee {
      width: 10%;
    }
    .hashtagemp {
      width: 8% !important;
      word-wrap: break-word !important;
    }
    .slugemployee {
      width: 7% !important;
      word-wrap: break-word !important;
    }
    .puestoemployee {
      width: 7% !important;
      word-wrap: break-word !important;
    }
    .imagenemployee {
      width: 10%;
    }
    .nameproject {
      width: 18%;
    }
    .imgproject {
      width: 6%;
    }
    .visibleproject {
      width: 10%;
    }
    #buttoncreate {
      margin-left: 0% !important;
      margin-top: -54px;
    }
    #buttonaddclient {
      width: 16.3333337% !important;
      float: right;
      margin-right: 43px !important;
    }
    #buttoncreateclient {
      margin-left: 0% !important;
      margin-top: -51px;
    }
    .table {
      margin-top: 1%;
    }
    #content {
      background-color: white;
    }
    .h3cliente {
      margin-top: 25px;
    }
    .h3administradores {
      margin-top: 48px;
    }
    .h3employee {
      margin-top: 10px;
    }
    .nameclient {
      width: 26%;
    }
    .slugclient {
      width: 26%;
    }
    #buttoncreateadmin {
      width: 105px !important;
      margin-top: -50px;
      margin-left: 82%;
    }
    #tableadmin {
      margin-top: -28px;
    }
    .visibleemployee {
      width: 8%;
    }
    #createtranslatesubmit {
      width: 100% !important;
    }
    #createclientsubmit {
      width: 380px;
    }
    .inputstranslate {
      width: 100% !important;
    }
    .col-md-3 {
      width: 25%;
    }
    div#divclientdoesntexist {
      height: 45vh;
      float: left;
      width: 100%;
    }
    .col4editproject {
      display: inline-table;
      width: 49%;
    }
    .welleditproject {
      margin-top: -3%;
    }
    .editinfoemployee {
      width: 23%;
      display: inline-block;
    }
    .editimageemployee {
      margin-left: 100px;
    }
    .welleditemployee {
      margin-top: -90px;
      margin-left: 0px;
      margin-bottom: 60px;
    }
    .col-md-4.editinfoemployee {
      width: 23% !important;
      padding-left: 9px;
      margin-top: 10px;
    }
    #content {
      width: 80% !important;
    }
    #left {
      width: 20% !important;
    }
    .editdeleteproyectoinsideorden {
      display: none;
    }
    i#margindata {
      font-size: 20px;
    }
    p#margindata {
      font-size: 14px;
    }
    .h3project {
      margin-top: 25px;
    }
    .footer {
      width: 100%;
    }
    .user {
      margin-right: -50px;
    }
    .previewproject {
      margin-left: 12%;
    }
    div#table1 {
      margin-top: 43px;
    }
    body {
      position: relative;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 100%;
    }
    div#tabs {
      margin-top: -44px;
    }
    #tableclients {
      margin-top: 39px;
    }
    .colclientexist {
      float: left;
      width: 100%;
    }
    #divclientdoesntexist {
      margin-top: 15px;
    }
    #editclient {
      height: auto;
    }
    .tableeditclient{
      margin-top:0px;
    }
  }
  
  @media (max-width: 976px) {
    label {
      max-width: 400px;
    }
    label.paddingleftprojectclient {
      width: 400px;
    }
    .editdeleteproyectoinsideorden {
      display: none;
    }
    .previewemployee {
      margin-right: 11%;
    }
    .user {
      margin-top: -30px !important;
      margin-right: -40px;
    }
    .sizeimage {
      width: 54px;
    }
  }
  
  @media (max-width: 768px) {
    .editmenuclient{
      margin:0px !important;
    }
    .h3cliente {
      margin-top: 40px;
    }
    .previewproject {
      margin-left: -1%;
    }
    .h3employee {
      margin-top: 35px;
    }
    #wrap {
      background-color: white !important;
    }
    .welleditclient {
      margin-top: -6%;
    }
    .btnenordenemployee {
      display: inline;
    }
    .col-sm-6 {
      width: 50%;
      float: left;
    }
    #buttonaddadmin {
      margin-top: 0px !important;
    }
    #buttoncreateadmin {
      margin-top: -45px;
    }
    #clients {
      margin-top: -25px;
    }
    label {
      max-width: 400px;
    }
    label.paddingleftprojectclient {
      width: 400px;
    }
    div#buttonaddemployee {
      margin-top: -3% !important;
    }
    .formeditdeletemenuemployee2 {
      display: none;
    }
    #editproject {
      margin-top: 40px;
    }
    #nameClient {
      width: 100% !important;
    }
    #slugClient {
      width: 100% !important;
    }
    #priorityClient {
      width: 100% !important;
    }
    #editclient {
      margin-top: -5px;
    }
    #formcrearproyecto {
      margin-top: -5px;
    }
    .dropdown {
      display: -webkit-inline-box;
      display: inline-flex;
      margin-top: -20px;
    }
    #listallprojects {
      margin-top: -40px !important;
    }
    #listallclients {
      margin-top: -15px !important;
    }
    #listalladmins {
      margin-top: -48px !important;
    }
    #listallemployees {
      margin-top: -21px !important;
    }
    #tableclients {
      margin-top: 24px;
    }
    body {
      position: relative;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 100%;
    }
    .idprojectth {
      display: none;
    }
    .idrow {
      width: 3%;
      display: none;
    }
    .idclients {
      display: none;
    }
    .columnidclient {
      display: none;
    }
    #buttoncreate {
      margin-left: -64px;
      margin-top: -24px;
    }
    #buttoncreateclient {
      width: 110px;
      margin-top: -9%;
    }
    div#buttonaddproject {
      margin-top: -21px;
    }
    div#buttonaddclient {
      margin-top: -37px;
      background-color: transparent;
    }
    div#buttonaddadmin {
      margin-top: 3%;
      margin-left: -10px;
      width: 100%;
    }
    div#buttonaddemployee {
      margin-top: -38px !important;
      background-color: transparent;
    }
    .previewproject {
      margin-top: -47px;
      float: left;
      text-align: left;
    }
    .previewemployee {
      margin-right: 469px !important;
      margin-top: -45px;
    }
    .name {
      font-size: 12px !important;
    }
    .nameproject {
      width: 25%;
    }
    .nameclient {
      width: 31.5%;
    }
    .slugclient {
      width: 31.5%;
    }
    .dropdown {
      margin-top: -50px;
      float: right;
    }
    #createtranslatesubmit {
      width: 100% !important;
    }
    #formcrearcliente {
      margin-top: -5px;
    }
    #formcreartrabajador {
      margin-top: -5px;
    }
    #createclientsubmit {
      width: 100% !important;
    }
    .canceleditclient {
      width: 100% !important;
      text-align: center !important;
    }
    .updateeditclient {
      width: 100% !important;
      text-align: center !important;
    }
    #nameEmployee {
      width: 100% !important;
    }
    #hashtagemp {
      width: 100% !important;
    }
    #slugEmployee {
      width: 100% !important;
    }
    #positionEmployee {
      width: 100% !important;
    }
    #formcreartraducciones {
      margin-top: -5px;
    }
    div#divclientexist {
      margin-top: -5px;
    }
    #divclientdoesntexist {
      height: 28vh;
    }
    input#relationclientexist {
      margin-top: -79px;
    }
    .h3projectedit {
      margin-top: -20px !important;
    }
    #content {
      width: 100% !important;
    }
    .user {
      margin-right: 5% !important;
      margin-top: -41px !important;
    }
    .editdeleteproyectoinsideorden {
      display: none;
    }
    i#margindata {
      font-size: 20px;
    }
    #margindata {
      font-size: 12px;
    }
    a#margindata {
      font-size: 12px !important;
    }
    input#margindata {
      font-size: 12px !important;
    }
    .sizeheader {
      width: 100px;
      height: 40px;
    }
    .sizehome {
      width: 100px;
      height: 40px;
    }
    .editdeleteproyecto {
      font-size: 14px;
    }
    #left {
      display: none;
    }
    .search-bar {
      float: none;
    }
    .h3project {
      margin-top: 55px;
    }
    .h3administradores {
      margin-top: 60px;
    }
    .formeditdeletemenuemployee {
      display: inline;
    }
    .thaccionesemployee {
      display: none;
    }
    .formactionmenuemployee {
      display: none;
    }
    p#margindataemployee {
      font-size: 14px;
    }
    .table {
      margin-top: -3%;
    }
    .sizeimage {
      width: 100% !important;
    }
    #buttoncreateemployee {
      margin-top: -7px;
    }
    .previewemployee {
      float: left;
      margin-left: 0%;
    }
    #tableemployees {
      margin-top: 26px;
    }
    .hrefcancel {
      width: 100%;
      display: table;
    }
    .hrefcanceltraduccion {
      width: 350px;
      display: table;
    }
    #createprojectsubmit {
      width: 100% !important;
    }
    .slugnameproject {
      width: 100%;
    }
    .hrefcanceltraduccion {
      width: 100%;
    }
    .hrefcancelrelacion {
      width: 162px;
      display: table;
    }
    .row {
      margin-bottom: 10px;
    }
    .dropdown-toggle {
      margin-right: 10px;
    }
    .col3projectofclient {
      width: 45% !important;
    }
    .tableeditclient{
      margin-bottom:50px;
    }
  }
  @media (max-width: 666px){
    
  }
  @media (max-width: 640px) {
    .seleccionarimgclientedit{
      width:150px !important;
      margin:0px !important;
    }
    .psizeimage{
      font-size:12px;
    }
    .h3cliente{
      margin-top:26px;
    }
    .h3employee{
      margin-top:21px;
    }
    .btn-primary {
      font-size: 12px;
    }
    .h4traductiontitle {
      overflow: visible;
      white-space: nowrap;
    }
    .col3projectofclient {
      width: 100% !important;
    }
    .sizeheader {
      width: 75px;
      height: 30px;
    }
    .sizehome {
      width: 75px;
      height: 30px;
    }
    .emailadmin {
      width: 36%;
    }
    .fa-caret-down {
      margin-top: 7px;
    }
    .fa-caret-up {
      margin-top: -5px;
    }
    .h3slugprojectedit2 {
      font-size: 14px;
    }
    div#buttonaddclient {
      width: 125px !important;
      margin-top: -26px;
      margin-right: 7px !important;
    }
    div#buttonaddemployee {
      margin-top: -34px !important;
      margin-right: 28px;
    }
    .search-bar {
      float: center;
    }
    #listallemployees {
      margin-top: 5px;
    }
    .sizeheader {
      width: 75px;
      height: 30px;
    }
    .sizehome {
      width: 75px;
      height: 30px;
    }
    #margindata {
      font-size: 12px;
    }
    .nameproject {
      width: 10%;
    }
    .orderproject {
      width: 3%;
    }
    .visibleproject {
      width: 3%;
    }
    th {
      font-size: 12px;
    }
    td {
      font-size: 10px;
    }
    tr {
      font-size: 10px;
    }
    .btn-success {
      width: 50px;
      font-size: 12px !important;
    }
    .btn-danger {
      width: 50px;
      font-size: 12px !important;
    }
    .h3project {
      font-size: 12px;
    }
    .h3cliente {
      font-size: 20px;
    }
    .h3administradores {
      letter-spacing: 2.5px;
      font-size: 20px;
      margin-top:49px;
    }
    .h3employee {
      font-size: 20px;
    }
    #wrap {
      background-color: white;
    }
    .previewemployee {
      margin-right: 410px !important;
    }
    #buttoncreate {
      margin-left: -17px;
      font-size: 8px;
    }
    #buttoncreateadmin {
      width: 95px !important;
      margin-top: -42px;
      margin-left: 48px;
    }
    .h3project {
      margin-top: 18px;
    }
    p.name {
      font-size: 12px;
    }
    .nameclient {
      width: 31%;
    }
    .slugclient {
      width: 31%;
    }
    .priorityclient {
      width: 26%;
    }
    #buttoncreateclient {
      font-size: 12px !important;
      margin-top: -16px;
      margin-left: -9px !important;
      width: 100px;
      text-align: center;
    }
    #buttoncreateemployee {
      width: 125px !important;
      margin-left: -40%;
      margin-top: -7px;
    }
    .sizeimage {
      width: 85%;
    }
    .hashtagemp {
      width: 1% !important;
    }
    .hashtagemp > p {
      width: 50px;
      display: inline-block;
      word-wrap: break-word;
    }
    .nameemployee > p {
      width: 30px;
      display: inline-block;
    }
    .dropdown {
      margin-left: 85%;
      margin-top: -45px;
    }
    .seleccionar {
      width: 380px !important;
    }
    #createtranslatesubmit {
      width: 100% !important;
    }
    #createclientsubmit {
      width: 100% !important;
      text-align: center !important;
    }
    #formcrearcliente {
      margin-top: -5px;
    }
    #formcreartrabajador {
      margin-top: -5px;
    }
    .seleccionaremp {
      margin-left: 0px !important;
      width: 300px !important;
      text-align: center !important;
    }
    .canceleditclient {
      width: 96% !important;
      text-align: center !important;
    }
    .updateeditclient {
      width: 96% !important;
      text-align: center !important;
    }
    #formcreartraducciones {
      margin-top: -5px;
    }
    input#relationclientexist {
      width: 33% !important;
    }
    #relationclientnotexist {
      width: 150px;
    }
    div#divclientexist {
      margin-top: -5px;
    }
    .seleccionarheaderedit {
      width: 190px;
    }
    .seleccionarhomeedit {
      width: 190px;
    }
    .updateeditproject {
      width: 100%;
    }
    .canceleditproject {
      width: 100%;
    }
    .imgeditemployee {
      margin-left: -59px;
    }
    #browse_file3 {
      width: 300px;
      margin-left: -59px;
    }
    p.sizeimage.editproject {
      margin-left: 0px !important;
    }
    .btncanceleditemployee {
      width: 100%;
    }
    .btnupdateeditemployee {
      width: 100%;
    }
    .col-md-4.editinfoemployee {
      margin-top: -10px;
      width: 33% !important;
    }
    .search-bar.col-md-3 {
      margin-right: 48%;
    }
    .user {
      margin-right: 10% !important;
    }
    .dropdown {
      margin-right: 5%;
    }
    .footer {
      position: fixed;
      width: 100%;
    }
    .h3project {
      font-size: 20px !important;
    }
    #buttoncreate {
      font-size: 12px;
      margin-top: -21px;
    }
    .editdeleteproyectoinsideorden {
      display: none;
    }
    th {
      font-size: 13px;
    }
    i#margindata {
      font-size: 20px;
    }
    a#margindata {
      font-size: 12px !important;
      width: 54px !important;
    }
    input#margindata {
      font-size: 12px !important;
      width: 57px !important;
    }
    .editdeleteproyecto {
      font-size: 14px;
    }
    .previewemployee {
      float: left;
      margin-left: 0%;
    }
    .previewproject {
      margin-left: -7px;
    }
    #relationclientexist {
      width: 200px;
    }
    .colsm6btnno {
      width: 100%;
    }
    button#margindata {
      font-size: 12px !important;
      width: 57px;
    }
    .hrefcancel {
      width: 100%;
    }
    .hrefcanceladmin {
      font-size: 14px !important;
    }
    .hrefcanceltraduccion {
      width: 100%;
    }
    .hrefcancelrelacion {
      width: 150px;
      display: table;
      font-size: 12px !important;
    }
    .seleccionarimgclientcreate{
      width:200px !important;
      margin:0px !important;
    }
    .nameadmin{
      width:33%;
    }
  }
  
  @media (max-width: 540px) {
    #buttoncreateadmin{
      margin-left:38px;
    }
    .thmenusimagen{
      display:none;
    }
    .pclientinfo{
      font-size:12px;
    }
    .dropdown-toggle {
      margin-top: 2px;
    }
    .h4traductiontitle {
      overflow: hidden;
    }
    .nameadmin {
      width: 19%;
    }
    .nameeditemployee {
      width: 175px;
    }
    .slugeditemployee {
      width: 175px;
    }
    .hashtageditemployee {
      width: 175px;
    }
    .positioneditemployee {
      width: 175px;
    }
    .imgeditemployee {
      margin-left: -45px;
      width: 200px !important;
      height: 184px !important;
    }
    #browse_file3 {
      margin-left: -45px;
    }
    .col4editproject {
      width: 44%;
    }
    .formeditdeletemenuemployee {
      display: -webkit-box;
      display: flex;
      margin-left: -32px;
    }
    .thmenuemp {
    }
    .nameemployee {
      display: none;
    }
    .nameemployee2 {
      display: table-cell;
    }
    .slugemployee{
      display:table-cell;
    }
    .puestoemployee{
      display:table-cell;
    }
    .ordenemployee{
      display:table-cell;
    }
    th.thcenter.thmenuemp.columnvisibleemp {
      display: none;
    }
    td.visibleemployee.tdcenter {
      display: none;
    }
    th.thmenuemp.thmenuimagen {
      display: none;
    }
    td.imagenemployee {
      display: none;
    }
    div#buttonaddadmin {
      margin-top: -32px !important;
      margin-right: 80px !important;
    }
    #employee {
      margin-top: 14px;
    }
    #headerimgmenuproject2 {
      display: none;
    }
    #headerimgmenuproject {
      display: inline;
    }
    #homeimgmenuproject {
      display: table-cell;
    }
    #homeimgmenuproject2 {
      display: table-cell;
    }
    .search-bar {
      float: center;
    }
    .dropdown {
      margin-left: 85%;
      margin-top: -50px;
    }
    .btn-danger {
      display: block !important;
      width: 50px;
    }
    .btn-success {
      width: 50px;
    }
    #buttoncreate {
      margin-left: -250px !important;
    }
    .user {
      margin-top: -40px !important;
      height: 31px;
    }
    .sizeheader {
      width: 50px;
      height: 20px;
    }
    .sizehome {
      width: 50px;
      height: 20px;
    }
    td {
      font-size: 7.5px;
    }
    tr {
      font-size: 7px;
    }
    th {
      font-size: 9.4px;
    }
    .nameclient {
      width: 29%;
    }
    .slugclient {
      width: 29%;
    }
    .priorityclient {
      width: 29%;
    }
    #buttoncreateclient {
      font-size: 8px;
      margin-top: 8px;
      width: 100% !important;
    }
    #listalladmins {
      margin-top: -5%;
    }
    #buttoncreateadmin {
      width: 95px !important;
      margin-top: -10px;
    }
    #buttoncreateemployee {
      margin-top: -8px;
      margin-left: -40px;
      width: 120px !important;
    }
    div#tableadmin {
      margin-top: 27px;
    }
    .slugemployee {
      word-wrap: none;
      width: 1% !important;
    }
    .nameemployee > p {
      width: 30px;
      display: inline-block;
      word-wrap: none;
    }
    #listallemployees {
      margin-top: -21px !important;
    }
    .hashtagemp > p {
      width: 90px;
    }
    .visibleemployee {
      width: 1%;
    }
    .nameemployee {
      width: 3%;
    }
    .slugemployee > p {
      width: 62px;
    }
    .puestoemployee > p {
      width: 61px;
      display: inline-block;
      word-wrap: break-word;
    }
    .ordenemployee > p {
      width: 20px;
      display: inline-block;
      word-wrap: break-word;
    }
    .seleccionar {
      width: 380px !important;
    }
    #createtranslatesubmit {
      width: 100% !important;
      text-align: center !important;
    }
    #formcrearcliente {
      margin-top: -5px;
    }
    #formcreartrabajador {
      margin-top: -5px;
    }
    .seleccionaremp {
      width: 300px !important;
      text-align: center !important;
    }
    .canceleditclient {
      width: 100% !important;
      text-align: center !important;
    }
    .updateeditclient {
      width: 100% !important;
      text-align: center !important;
    }
    #createclientsubmit {
      width: 100% !important;
      text-align: center !important;
    }
    #formcreartraducciones {
      margin-top: -5px;
    }
    div#divclientdoesntexist {
      height: 30vh;
    }
    input#relationclientexist {
      margin-top: -79px;
      width: 48% !important;
    }
    #formcreateclient {
      height: 30vh;
    }
    .canceleditproject {
      width: 100% !important;
    }
    .updateeditproject {
      width: 100%;
    }
    .img {
      width: 150px;
    }
    .img2 {
      width: 150px;
    }
    input[type=radio] + label {
      padding: 3px 6px !important;
    }
    .seleccionarheaderedit {
      width: 150px !important;
    }
    .seleccionarhomeedit {
      width: 150px !important;
    }
    .col4editproject {
      margin-left: 2%;
    }
    .h3slugprojectedit2 {
      font-size: 14px;
    }
    .inputeditclient {
      width: 100% !important;
    }
    .seleccionarimgemp {
      width: 150px;
    }
    .btncanceleditemployee {
      width: 100%;
    }
    .btnupdateeditemployee {
      width: 100%;
    }
    .col-md-4.editinfoemployee.editinputsemployee {
      margin-left: 2px;
    }
    .footer {
      position: fixed;
      width: 100%;
    }
    .dropdown {
      margin-right: 0px;
    }
    div#buttonaddproject {
      margin-top: -21px;
      margin-right: 80px !important;
    }
    #buttoncreate {
      margin-left: 20px !important;
      font-size: 12px;
    }
    .h3project {
      font-size: 20px !important;
    }
    th {
      font-size: 12px;
    }
    .thaccionesproyectos {
      display: none;
    }
    .editdeleteproyecto {
      display: -webkit-box;
      display: flex;
      margin-left: -105px;
      margin-top: 40px;
    }
    .sizeheader {
      width: 75px;
      height: 30px;
    }
    .sizehome {
      width: 75px;
      height: 30px;
      margin-top: 3px;
    }
    i#margindata {
      font-size: 20px;
    }
    .visibleproject {
      width: 20% !important;
    }
    .nombreproject {
      width: 35% !important;
    }
    .headerproject {
      width: 20% !important;
    }
    .homeproject {
      width: 20% !important;
    }
    .ordenproject {
      width: 15% !important;
    }
    .formactionsmenuprojects {
      display: none;
    }
    .editdeleteproyecto {
      margin-left: -76px !important;
    }
    .search-bar {
      float: center !important;
    }
    .h3cliente {
      font-size: 20px;
    }
    #listallclients {
      margin-top: -10px !important;
    }
    div#buttonaddclient {
      margin-top: -50px;
      margin-right: -2px !important;
    }
    #buttoncreateclient {
      font-size: 12px !important;
      width: 108% !important;
    }
    .previewemployee {
      margin-left:-1%;
      margin-top: -46px;
    }
    .pprojectimageinfo {
      font-size: 12px;
    }
    .col3 {
      margin-right: 89px;
    }
    label.paddingleftprojectclient {
      font-size: 13px;
      width: 200px;
    }
    .colsm6btnno {
      width: 100%;
    }
    .psizeimage {
      font-size: 11px;
    }
    .welleditproject {
      padding-bottom: 33px;
    }
    p#margindataemployee {
      font-size: 11px;
    }
    .hashtagemp {
      display: none;
    }
    .hashtagemp2 {
      display: table-cell;
    }
    p.pvisible {
      display: -webkit-inline-box;
      font-size: 11px;
      font-weight: bold;
    }
    .hashtagempp {
      font-size: 11px;
      width: 70px !important;
      word-wrap: break-word;
    }
    .hrefcancel {
      width: 100%;
    }
    .hrefcanceltraduccion {
      width: 100%;
    }
    .hrefcancelrelacion {
      width: 150px;
      display: table;
      font-size: 12px !important;
    }
    .seleccionarimgempedit {
      width: 200px !important;
    }
    p#margindata {
      font-size: 13px;
    }
  }
  
  @media (max-width: 400px) {
  
    table.tableeditclient{
      width:150px;
    }
    .col3projectofclient {
      width: 100% !important;
    }
    #browse_file {
      text-align: center !important;
    }
    #browse_file2 {
      text-align: center !important;
    }
    p.pvisible {
      font-size: 11px;
      font-weight: bold;
      display: -webkit-inline-box;
    }
    .hashtagemp {
      display: none;
    }
    .hashtagemp2 {
      display: table-cell;
    }
    .nameemployee {
      display: none;
    }
    .sizeimage {
      width: 50px !important;
    }
    .nameemployee2 {
      display: table-cell;
    }
    .formeditdeletemenuemployee {
      display: -webkit-box;
      display: flex;
      margin-left: -42px;
    }
    .columnvisibleemp {
      display: none;
    }
    td.visibleemployee.tdcenter {
      display: none;
    }
    .slugemployee {
      width: 15% !important;
    }
    p#margindataemployee {
      font-size: 11px;
      width: 62px;
    }
    div#partialproject {
      margin-top: 15px;
    }
    .h3project {
      font-size: 22px !important;
    }
    .dropdown {
      margin-left: 350px;
      margin-top: -47px;
    }
    button#margindata {
      width: 56px !important;
    }
    .user {
      margin-right: 11%;
    }
    .sizeheader {
      width: 75px;
      height: 30px;
    }
    .sizehome {
      width: 75px;
      height: 30px;
    }
    .orderproject {
      width: 4%;
    }
    #margindata {
      font-size: 9px;
    }
    .idprojectth {
      display: none;
    }
    .idrow {
      width: 3%;
      display: none;
    }
    .visibleproject {
      width: 2%;
    }
    .fa-check {
      font-size: 6px;
    }
    .nameproject {
      width: 5%;
    }
    .btn-success {
      text-align: left;
      font-size: 12px;
      width: 16%;
    }
    .btn-danger {
      text-align: left !important;
      display: block !important;
      width: 22%;
    }
    .btn-success-emp {
      width: 50px !important;
    }
    .btn-danger-emp {
      width: 44px !important;
    }
    td {
      font-size: 7px;
    }
    tr {
      font-size: 7px;
    }
    th {
      font-size: 9.3px;
    }
    table {
      width: 100vw;
    }
    .edittableproject {
      width: 30vw;
    }
    body {
      position: relative;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    #buttoncreate {
      text-align: center;
      font-size: 12px;
      margin-top: -10px;
      margin-left: 15px !important;
    }
    #wrap {
      background-color: white !important;
    }
    .orderproject {
      width: 2%;
    }
    .footer {
      position: fixed;
      width: 100%;
    }
    .previewemployee {
      margin-top: -11.5%;
      margin-left: -5px;
    }
    .nameclient {
      width: 35% !important;
    }
    .slugclient {
      width: 25% !important;
    }
    .priorityclient {
      width: 25% !important;
    }
    .nameadmin {
      width: 35% !important;
    }
    .emailadmin {
      width: 40% !important;
    }
    #buttoncreateadmin {
      width: 95px !important;
      margin-top: -27%;
      margin-left: 87%;
    }
    #buttoncreateclient {
      font-size: 12px !important;
      margin-top: 7px;
      margin-left: -8px !important;
      width: 109% !important;
      text-align: center !important;
    }
    #buttoncreateemployee {
      margin-top: -10px;
      margin-left: -42px;
      width: 115px !important;
    }
    div#tableadmin {
      margin-top: 28px;
    }
    .hashtagemp > p {
      width: 45px;
      display: inline-block;
      word-wrap: break-word;
    }
    .nameemployee > p {
      width: 30px;
      display: inline-block;
    }
    .slugemployee > p {
      width: 60px;
      display: inline-block;
      word-wrap: break-word;
    }
    .puestoemployee > p {
      width: 74px;
      display: inline-block;
      word-wrap: break-word;
    }
    .ordenemployee > p {
      width: 20px;
      display: inline-block;
      word-wrap: break-word;
    }
    .h3employee {
      margin-top: -18px;
    }
    #listallemployees {
      margin-top: -11px !important;
    }
    .seleccionar {
      width: 380px !important;
      text-align: center !important;
    }
    #createprojectsubmit {
      font-size: 12px !important;
      width: 380px !important;
      text-align: center !important;
    }
    #createtranslatesubmit {
      width: 100% !important;
      text-align: center !important;
    }
    #createclientsubmit {
      width: 150px !important;
      text-align: center !important;
    }
    #formcrearcliente {
      margin-top: -5px;
    }
    div#formcrearcliente {
      padding: 10px !important;
    }
    #formcreartrabajador {
      margin-top: -5px;
    }
    .seleccionaremp {
      width: 300px !important;
      text-align: center !important;
    }
    #createclientsubmit {
      width: 100% !important;
      font-size: 12px !important;
    }
    .canceleditclient {
      width: 100% !important;
      text-align: center !important;
    }
    .updateeditclient {
      width: 100% !important;
      text-align: center !important;
    }
    #formcreartraducciones {
      margin-top: -5px;
    }
    form#projectclientexist {
      margin-top: -8%;
    }
    div#divclientexist {
      margin-top: -4px;
    }
    div#divclientdoesntexist {
      height: 30vh;
    }
    input#relationclientexist {
      margin-top: -21%;
      margin-left: 13px !important;
      width: 48% !important;
    }
    #formcreateclient {
      height: 30vh;
    }
    #editemployee {
      margin-top: -5px;
    }
    input#slug {
      width: 120px;
    }
    .img {
      width: 150px;
    }
    .img2 {
      width: 150px;
    }
    .resizenone {
      width: 150px !important;
    }
    .inputeditclient {
      width: 100% !important;
    }
    input[type=radio] + label {
      padding: 5px 10px;
    }
    .seleccionarheaderedit {
      width: 150px !important;
    }
    .seleccionarhomeedit {
      width: 150px !important;
    }
    .h3slugprojectedit2 {
      font-size: 14px !important;
    }
    strong {
      font-size: 12px;
    }
    .updateeditproject {
      width: 100%;
      text-align: center;
    }
    .canceleditproject {
      text-align: center !important;
    }
    .slugnameprojectcreate {
      width: 380px !important;
    }
    .editmenuproject {
      width: 40px !important;
    }
    .deletemenuproject {
      width: 52px !important;
    }
    .editmenuclient {
      width: 40px !important;
    }
    .deletemenuclient {
      width: 52px !important;
    }
    .deletemenuadmin {
      width: 52px !important;
    }
    .tablecreateemployee {
      width: 50% !important;
    }
    .seleccionarimgemp {
      width: 150px;
      text-align: center !important;
    }
    .btncanceleditemployee {
      width: 100%;
      text-align: center !important;
    }
    .btnupdateeditemployee {
      width: 100%;
      text-align: center !important;
    }
    .search-bar.col-md-3 {
      margin-left: 27%;
    }
    #projects {
      height: 21px;
      width: 80%;
    }
    #buttonaddproject {
      margin-left: 75% !important;
    }
    .dropdown-toggle {
      margin-right: 10px;
      width: 43px;
    }
    .thaccionesproyectos {
      display: none;
    }
    i#margindata {
      font-size: 20px;
    }
    #margindata {
      font-size: 11.5px;
    }
    th {
      font-size: 10.5px;
    }
    .editdeleteproyecto {
      display: -webkit-box;
      display: flex;
      margin-left: -105px;
      margin-top: 40px;
    }
    .tablecrearproyecto {
      width: 95vw;
    }
    .editdeleteproyecto {
      margin-left: -75px !important;
    }
    p#margindata {
      font-size: 13px;
    }
    #h3elclientenoexiste {
      margin-top: -10px;
    }
    .h3elclienteexiste {
      margin-top: -5px;
    }
    #tableemployees {
      margin-top: 13px;
    }
    .colclientexist {
      display: none;
    }
    .colsm6btnno {
      width: 100%;
      text-align: center !important;
    }
    .colsm6btnsi {
      text-align: center !important;
    }
    .tableeditemployee {
      width: 150px !important;
    }
    .hrefcancel {
      width: 100%;
      text-align: center !important;
      font-size: 12px !important;
    }
    .hrefcanceltraduccion {
      width: 100%;
      text-align: center !important;
    }
    .hrefcancelrelacion {
      width: 150px;
      display: table;
      font-size: 12px !important;
      text-align: center !important;
    }
    .seleccionarimgempedit {
      text-align: center !important;
    }
    .seleccionarimgclientcreate{
      text-align:center!important;
    }
  }
  
  @media (max-width: 375px) {
    .h4traductiontitle {
      width: 250px;
    }
    .imgprojectoneditclient {
      width: 95%;
    }
    .hrefcancel {
      width: 355px !important;
    }
    .visibleproject {
      display: none;
    }
    .nameproject {
      display: table-cell;
    }
    .nameproject2 {
      display: none;
    }
    .tableeditemployee {
      margin-left: -15px;
    }
    #buttoncreateemployee {
      margin-left: -46px;
    }
    .btn-success-emp {
      width: 48px !important;
    }
    .previewemployee {
      margin-left: -4%;
      margin-top: -12%;
    }
    p#margindataemployee {
      width: 44px;
    }
    .previewproject {
      margin-left: -3.5%;
    }
    button#margindata {
      width: 53px !important;
    }
    .user {
      margin-right: 32px !important;
    }
    div#buttonaddclient {
      margin-right: 0px !important;
    }
    .welleditclient {
      margin-top: -8%;
    }
    p#margindata {
      font-size: 14px;
    }
    #buttoncreate {
      margin-left: 19px !important;
    }
    .slugnameproject {
      width: 360px !important;
    }
    .dropdown {
      margin-right: 2px;
    }
    .dropdown {
      margin-right: 2px;
    }
    .seleccionar {
      width: 360px !important;
    }
    .imgcreate {
      width: 360px !important;
    }
    .colclientexist {
      display: none;
    }
    #createprojectsubmit {
      font-size: 12px !important;
      width: 360px !important;
    }
    .h4manifiesto {
      margin-left: -3px;
    }
    .tdmenuadmin {
      font-size: 12px !important;
    }
    .formeditdeletemenuemployee {
      margin-left: -14px;
    }
    .dropdown-toggle{
      margin-right:1px;
    }
  }
  
  @media (max-width: 360px) {
    .dropdown-toggle {
      margin-right: 1px;
      margin-top: 4px;
    }
    .user {
      margin-top:-37px !important;
      margin-right: 34px !important;
    }
    p#margindataemployee {
      width: 37px;
    }
    .hrefcancel {
      width: 340px !important;
    }
    .resizenone {
      width: 140px !important;
    }
    .img {
      width: 150px;
    }
    .seleccionarheaderedit {
      width: 150px !important;
    }
    .tableeditemployee {
      margin-left: -25px;
    }
    .hashtagempp {
      width: 62px !important;
    }
    .pvisible {
      font-size: 11px;
      font-weight: bold;
      display: -webkit-inline-box;
    }
    .nameproject {
      display: none;
    }
    .nameproject2 {
      display: table-cell;
    }
    .h4manifiesto {
      font-size: 16px;
      margin-left: 3px;
    }
    .previewproject {
      margin-left: -4%;
      margin-top:-44px;
    }
    .search-bar.col-md-3 {
      margin-left: 26%;
    }
    td.visibleproject.tdcenter {
      display: none;
    }
    th.thcenter.visibleproject.thmenuproject {
      display: none;
    }
    p#margindata {
      font-size: 12px;
    }
    #buttoncreate {
      margin-left: 7px !important;
    }
    .slugnameproject {
      width: 340px !important;
    }
    .imgcreate {
      width: 340px !important;
    }
    .seleccionar {
      width: 340px !important;
    }
    #createprojectsubmit {
      width: 340px !important;
    }
    #buttoncreateemployee {
      margin-left: -40px;
    }
    .slugemp {
      width: 44px !important;
    }
    .tdmenuadmin {
      font-size: 11px !important;
    }
  }
  
  @media (max-width: 320px) {
    .nameproject{
      display:none;
    }
    .h3employee {
      margin-top: -16px;
    }
    #tableemployees {
      margin-top: 22px;
    }
    .hrefcancel {
      width: 300px !important;
    }
    .dropdown-toggle {
      margin-top: 5px;
    }
    .imgeditemployee {
      margin-left: -13px;
      width: 166px !important;
      height: 153px !important;
    }
    #browse_file3 {
      margin-left: -13px;
    }
    label {
      font-size: 10px !important;
    }
    .col-md-4.editinfoemployee {
      width: 32% !important;
    }
    .tableeditemployee {
      margin-left: -45px;
    }
    .puestoemployee {
      display: table-cell;
    }
    .buttonpreviewemployee {
      font-size: 9px;
      padding: 4px;
    }
    .h3employee {
      font-size: 16px;
      margin-left: 2px;
    }
    #buttoncreateemployee {
      margin-left: -47px;
      margin-top: -8px;
    }
    div#buttonaddclient {
      margin-top: -32px;
      margin-right: 30px !important;
      width: 89px !important;
    }
    .head {
      width: 100%;
    }
    .previewproject {
      margin-left: -3%;
      margin-top: -12%;
    }
    .h4manifiesto {
      font-size: 14px;
      margin-left: -17px;
    }
    div#buttonaddproject {
      margin-top: -21px;
    }
    p#margindata {
      font-size: 9.5px;
    }
    .sizeheader {
      width: 50px;
      height: 30px;
    }
    .sizehome {
      width: 50px;
      height: 30px;
    }
    #content {
      width: 100%;
    }
    .slugnameprojectcreate {
      width: 300px !important;
    }
    .imgcreate {
      width: 300px !important;
    }
    .seleccionar {
      width: 300px !important;
    }
    #createprojectsubmit {
      width: 300px !important;
    }
    .buttonpreview {
      font-size: 9px;
      margin-left: -1%;
      padding: 4px;
    }
    .user {
      height: 11px;
      margin-right: 40px !important;
      margin-top: -37px !important;
    }
    .dropdown-toggle {
      margin-right: 2px;
    }
    #buttoncreate {
      margin-left: 9px !important;
    }
    #buttoncreateclient {
      font-size: 12px !important;
      margin-top: -10px;
      margin-left: -23px;
      width: 152% !important;
    }
    .pclient {
      font-size: 11.5px !important;
    }
    .sizeimageclient{
      width:50px;
    }
    th {
      font-size: 14px;
    }
    div#partialclient {
      width: 100%;
      margin-bottom: -15px;
      background-color: white;
      margin-left: 0px;
    }
    .h3client {
      margin-left: 15px;
      margin-top: -10px;
    }
    .welleditclient {
      margin-top: -15%;
      margin-right: 20px;
      height: 40%;
    }
    .canceleditclient {
      width: 100% !important;
      text-align: center !important;
      margin-top: -33px;
      height: 32px;
      font-size: 12px !important;
    }
    .updateeditclient {
      width: 100% !important;
      text-align: center !important;
      margin-top: -33px;
      height: 32px;
      font-size: 12px !important;
    }
    .roweditclient {
      margin-top: -30px;
    }
    .tremployee {
      font-size: 10.5px !important;
    }
    .thmenuemp {
      font-size: 10px !important;
    }
    .hashtagemp2 > p {
      width: 50px;
    }
    .hashtagemp {
      display: none;
    }
    .puestoemployee > p {
      width: 47px;
    }
    .slugemployee2 > p {
      width: 60px;
    }
    .nameemployee2 > p {
      width: 60px;
    }
    .nameemployee {
      display: none;
    }
    .thmenuimagen {
      display: none;
    }
    td.ordenemployee.tdcenter {
      display: -ms-inline-grid;
      display: inline-grid;
    }
    .thmenuorden {
      display: none;
    }
    p#margindataemployee {
      font-size: 10px;
    }
    .thmenuproject {
      font-size: 10px;
    }
    body {
      position: relative;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    #buttonaddproject {
      width: 0px;
    }
    #editclient {
      margin-top: -4px;
    }
    .h3project {
      font-size: 18px !important;
    }
    .orderproject {
      display: none;
    }
    .ordenproject {
      display: none;
    }
    .visibleproject {
      width: 1% !important;
    }
    .nombreproject {
      width: 35% !important;
    }
    .headerproject {
      width: 11% !important;
    }
    td {
      font-size: 16px;
    }
    #headerimgmenuproject {
      display: none;
    }
    .homeimgmenuproject {
      display: table-cell;
    }
    .editdeleteproyecto {
      margin: 0px !important;
    }
    input#margindata {
      font-size: 12px !important;
      width: 57px !important;
      text-align: center;
    }
    p#margindata.namemenuproject {
      font-size: 12px;
    }
    .thmenuproject {
      font-size: 14px;
    }
    div#tableadmin {
      margin-left: -5px;
    }
    .h3administradores {
      letter-spacing: 3px;
      font-size: 17px;
      margin-left: -10px;
      margin-top: 55px;
    }
    #buttoncreateadmin {
      width: 89px !important;
      margin-top: -33%;
      margin-left: 5px !important;
    }
    .thmenuadmin {
      font-size: 11.2px !important;
    }
    .thmenuemailadmin {
      width: 40px;
    }
    .glyphicon-cog {
      display: inline;
    }
    .columnidadmins {
      display: none;
    }
    .idadmin {
      display: none;
    }
    .tdmenuadmin {
      font-size: 11.1px !important;
    }
    .tablemenuadmin {
      margin-top: -8%;
    }
    .headerimgmenuproject2 {
      display: table-cell;
    }
    a#margindata {
      width: 50px !important;
      text-align: center;
    }
    #formcrearadmin {
      margin-left: 17px;
    }
    div#partialclientedit {
      margin-left: 10px;
    }
    .roweditclient {
      display: inline;
    }
    div#buttonaddadmin {
      margin-top: -32px !important;
      margin-right: 56px !important;
    }
    #homeimgmenuproject2 {
      display:none;
      padding-top: 15px;
    }
    .slugemployee2 {
      display: none;
    }
    .thmenuorden {
      display: table-cell;
    }
    .formeditdeletemenuemployee {
      margin-left: -63px;
      margin-top: 18px;
    }
    p#margindataemployee {
      width: 42px;
    }
    label.paddingleftprojectclient {
      font-size: 13px !important;
    }
    .seleccionarimgempedit {
      text-align: center !important;
      width: 166px !important;
    }
    .col4editproject {
      margin-left: 0px !important;
    }
    .resizenone {
      width: 130px !important;
    }
    .img {
      width: 130px;
    }
    .img2 {
      width: 130px;
    }
    .seleccionarheaderedit {
      width: 130px !important;
    }
    .seleccionarhomeedit {
      width: 130px !important;
    }
  }
  
  /*# sourceMappingURL=cms.css.map */
  