[v-cloak] {
    display:none;
}

html {
    background-color: $white;
}

body {
    @extend.font-regular;
    &.ready {
        overflow: auto;
    }
}

a {
    text-decoration: none;
    
    &:hover {
        color: $yellow;
        text-decoration: none;
    }
    &:active, &:focus {
        color: $green;
        text-decoration: none;
    }
}

a, a:hover, a:active, a:focus {
    outline: none;
}

.colors {
    background-image: url('/assets/img/bar.gif');
    background-repeat: repeat-y;
    background-size: 100% 5px;
    position: relative;
    width: 100%;
    height: 5px;
}