.container {
    padding: 0;
    max-width: $maxWidth;
    background: #FFF;
    @media (min-width: $maxWidth) {
        width: $maxWidth;
    }

    @media (max-width: $tablet) {
        padding: 0 40px;
    }

    @media (max-width: $mobile) {
        padding: 0 20px;
    }
}

.container-fluid {
    padding: 0;
}