#footer {
    background: $greyLighter;
    padding-top: 30px;

    a, i {
        color: #292626;
        &:hover {
            color: $red;
        }
        @include transition(color 0.3s);
    }

    #footerInner {
        width: 90%;
        margin: 0 auto;
        max-width: $maxWidth;
        color: #292626;
        @extend.font-regular;
        font-size: 12px;
        #logo {
            margin: 25px auto 30px;
            width: 68px;
            height: 55px;
        }

        >div{
            @media (max-width: $tablet) {
                text-align: center;
            }
        }
        
    }
    .footer-1{
        text-align: left;
    }

    .footer-2{
        text-align: center;
        .actitud{
            font-size: $size-2;
            @extend .font-black;
            margin-bottom: 50px;
        }
    }
    .footer-3{
        text-align: right;
        ul {
            margin: 0;
            padding: 0;
            @media (max-width: $tablet) {
                padding-bottom: 20px;
            }
        }
        li {
            display: inline;
            padding: 0;
        }
        li a {
            padding: 10px 15px 10px 15px;
            margin: 0 10px;

            font-size: 15px;
            i {
                max-width: 12px;
                max-height: 34px;
            }
        }
    }
}