@import "../imports/fonts";

.go-down{
    cursor: pointer;
    position: relative;
    text-align: center;
    font-size: 28px;
    background: #fff;
    color: $black;
    margin-bottom: 50px;

    h1{
        font-size: 1em;
    }

    i{
        margin-top: 0.2em;
        font-size: 48px;
    }

    
}