@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "../imports/mixins";
body>header {
    //height: 75px;
}

.st0{fill:#FFFFFF;}
.st1{fill:#E73E51;}
.st2{fill:#FFC656;}
.st3{fill:#008FBE;}
.st4{fill:#3FAE2A;}

#header {
    position: fixed;
    top: 0;
    margin-bottom: 75px;
    width: 100vw;
    height: 75px;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=0 );


    z-index: 1000;
    @extend .headerTransition;

    @media (max-width: $mobile) {
        height: 50px;
    }
    .colors {
        top: 0;
        z-index: 100;
        @extend .headerTransition;
    }
    &.scrolled .colors {
        height: 2px;
    }
    #headerInner {
        position: relative;
        margin: 0 auto;
        height: 100%;
        max-width: $maxWidth;
        @media(max-width: $maxWidth){
            width: 100%;
            max-width: 100%
        }
        #logo {
            z-index: 100;
            @media(max-width: $maxWidth){
                margin-left: 30px;
            }

            a {
                @extend .headerTransition;
                display: block;
                width: 202px;
                height: 31px;
                @media (max-width: $mobile) {
                    width: 150px;
                    height: 19px;
                }
            }
        }

        .typer{
            margin-left: -180px;
            opacity: 0;
            color: $white;
            @include transition(opacity 0.1s);
            .vue-typer .custom.char.typed{
                color: $white !important;
            }

            @media (max-width: $tablet) {
                display: none;
            }
        }

        /* #menu {
            @media #{$desktop1280} {
                width: 63%;
            }
            @media #{$tabletLandscape} {
                width: 50px;
                float: right;
            }
            #menuInner {
                @extend .headerTransition;
                @media #{$tabletLandscape} {
                    display: none;
                }
                ul li {
                    float: left;
                    list-style: none;
                    padding: 14px 25px;
                    a {
                        color: $white;
                        @include transition(all 0.2s);

                        &:hover{
                            color: $red;
                        }
                        &.current, &.router-link-active{
                            color: $yellow;
                        }
                        &.red{
                            @extend .red
                        }
                    }
                }
            }
            ul.socialLinks {
                @include mobile{
                    display: none;
                }
            }
        } */

        ul.socialLinks {
            
            padding: 0;
            display: inline-block;

            @include mobile{
                display: none;
            }

            li {
                display: inline-block;
                list-style: none;
                padding: 14px 20px;
                cursor: pointer;
                &:nth-last-child {
                    padding-right: 0px;
                }

                i {
                    color: $white;
                    font-size: 16px;
                    @extend .headerTransition;
                    &:hover {
                        color: $yellow;
                    }
                }                        
            }
        }

        > ul.socialLinks{
            position: absolute;
            right: 50px;
            margin: 0;
            top: 50%;
            @include translate(0%, -50%);


            li{
                @media (max-width: $mobile) {
                    padding: 0 10px;

                    i{
                        font-size: 21px;
                    }
                }
            }
        }
        
    }

    &.scrolled {
    height: 50px;
    background-color: #000;
        #headerInner {
            #logo {
                a {
                    width: 150px;
                    height: 19px;
                }
            }
            #menu #menuInner {
                margin-top: 4px;
            }

            .typer{
                opacity: 1;
                font-size: 1.2em;
                @include transition(opacity 0.5s 0.5s);  
            }

        }
        #menuButtonMobile {
            top: 22px;
        }
    }
}
.headerTransition {
    @include transition(all 0.25s ease-in);
}

.menu {
    text-transform: uppercase;
}
#menuButtonMobile {
    position: absolute;
    //right: -4px;
    right: 10px;
    top: 32px;
    //display: none;
    //@include opacity(0);
    cursor: pointer;
    z-index: 1100;
    @extend .headerTransition;
    @media (max-width: $tablet) {
        display: block;
        @include opacity(1);
        padding-right: 17px;
    }
    @media(max-width:$screen-sm-min) {
        right: 12px;
        top: 37px;
        padding-right: 0;
    }
    @media (max-width:$mobile) {
        top: 22px;
        padding-right: 0px;
    }
    .clicker {
        position: absolute;
        top: -20px;
        left: -5px;
        width: 40px;
        height: 40px;
        z-index: 1000;
    }
    .burger {
        @include transition(all 0.1s ease);
        width: 30px;
        height: 5px;
        background: $white;
        &.hover {
            background: $green;
            &:before {
                background: $yellow;
                top: -15px;
            }
            &:after {
                background: $blue;
                top: 15px;
            }
        }
        &.cross {
            background: transparent;
            &:before {
                @include rotate(135deg);
                top: 0px;
            }
            &:after {
                @include rotate(-135deg);
                top: 0px;
            }
        }
        &:before, &:after {
            @include transition(all 0.1s ease);
            content: '';
            display: block;
            width: 30px;
            height: 5px;
            position: absolute;
            //z-index: -1;
            background: $white;
        }
        &:before {
            top: -10px;
        }
        &:after {
            top: 10px;
        }
    }
    img {
        width: 40px;
        height: auto;
        margin-top: 30px;
    }
}
#menuMobile {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;

    @include transition(left 0.3s);
    
    &.open{
        @include transition(left 0.5s);
        left: 0;
    }

    text-align: center;
    background: $black;
    z-index: 900;

    #menuMobileContainer {
        width: 100%;
        height: 100%;
        display: table;
    }
    
 
    ul {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        margin-bottom: 0;
        padding: 100px 0 0 0;

        @media (max-height: 480px) {
            padding-top: 50px;
        }

        li {
            font-size: 3.5vw;
            @extend .font-black;
            padding: 10px 0px 10px 0px;
            cursor: pointer;
            list-style: none;

            @media (max-width: $tablet) and (min-height: 480px) {
                font-size: 8vw;
            }

            

            a {
                color: $white;
                @include transition(color 0.2s);
                text-decoration: none;

                &:hover{
                    color: $yellow;
                }

                &.current, &.router-link-active{
                    color: $green;
                }
                &.red {
                    @extend .red;
                }
            }
        }
    }
}