.infoblock {
    color: $black;
    line-height: 1.3em;
    font-size: 18px;
    margin: 3em 0 4em;

    @media (max-width: $laptop) {
        font-size: 1.2em;
        margin: 2em 0 3em;
    }

    @media (max-width: $tablet) {
        font-size: 1.2em;
        margin: 2em 0 3em;
    }

    @media (max-width: $mobile) {
        font-size: 1.3em;
        margin: 1em 0 2em;
    }

    h3{
        font-size: 32px;
        line-height: 1.1em;
        @extend .font-bold;

        @media (max-width: $laptop) {
            font-size: 1.5em;
        }

        @media (max-width: $tablet) {
            font-size: 1.1em;
        }

        @media (max-width: $mobile) {
            //font-size: 1.6em;
        }
    }

}