// NAVIGATION BUTTONS
.navButton {
    display: block;
    width: 60px;
    height: 60px;
    max-height: 60px;
    max-width: 60px;
    font-size: 22px;
    padding: 16px 0 0 2px;
    margin-bottom: 10px;
    background-color: $greyLighter;
    cursor: pointer;
    color: #464649;
    text-align: center;
    &:hover {
        background-color: $red;
        color: #FFF;
    }
    @include transition(background-color);
    @include transition(color 0.5s);
}

i.icon {
    width: 73px;
    height: 73px;
    display: block;
    font-size: $size-1;
    border: 1px solid $black;
    color:$black;
    padding: 19px 24px;

    @include rounded(100%);
    filter: blur(0);

    background: transparent;
    @include transition(0.3s);


    &:hover{
        background: transparentize($black, 0.75);
        border-color: transparent;
        color:$white !important;
    }

    &.icon-white{
        border-color: $white;
        color:$white;

        &:hover{
            background: transparentize($white, 0.25);
            color: $black !important;
        }
    }
    &.icon-img{
        padding: 0;
        text-align: center;
        @extend .level;

        img {
            width: 55%;
            height: auto;
            margin: 0 auto;

            @media #{$tabletPortrait} {
                margin-top: 0.5em;
            } 
        }
    }
}

.bt-more{
    width: 100%;
    height: calc(73px + 2.8em);
    position: relative;
    
    i{
        margin: 0 auto;
        position: absolute;
        left: calc(50% - 35.5px);
        top: 0;
    }
    span, a{
        position: absolute;
        top: 0;
        left: 50%;
        @include transform(translate(-50%, 0))   
    }
    .bt{
        cursor: pointer;
    }
    .fa-plus{
        cursor: pointer;
    }
    .spinner{
        width: 73px;
        height: 73px;
        font-size: 21px;
        padding: 26px 26px;
    }
    .text{
        font-size: 1.5em;
        margin-top: 83px;
        text-align: center;
    }
}