/* Preload */
$preload_ease: cubic-bezier(0.455, 0.030, 0.515, 0.955);
.preload {
    position: fixed;
    width: 100vw;
    height: 0;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: #000;
    overflow: hidden;

    @include transition(all 0.3s $preload_ease);

    &.open{
        height: 100vh;
    }


    
    img.preload-bar {
        position: fixed;
        top: 0;
        height: 0;
        width: 100vw;
        
        &.open{
            top: 50%;
            height: 5px;
        }

        @include transition(all 0.3s $preload_ease);

    }

    .percent {
        position: absolute;
        right: 100%;
        top:3px;
        background: $red;
        height: 2px;
        width: 0;

        @include transition(width 0.3s)
    }
}

#pre-preloader{
    background-image:url('/assets/img/bar.gif');
    background-size: 100% 5px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}