.flexslider.slider-header{
    position:relative;
    border:none;
    box-shadow: none;
    margin: 0;
    height: calc(100vh - 70px);
    background: #000;
    @include transition(all 1s ease-in-out);


    @media (max-width: $tablet){
        height: 50vh;
    }


    .slides{
        height: 100%;
        overflow: hidden;
        //opacity: 0.5;
    }
    .slides > li{
        position:relative;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;

        &:after{
            content: '';
            background: transparentize(#000, 0.5);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
        }
    }

    .slider-navigation{
        position: absolute;
        width: 100%;
        top: 50%;
        z-index: 200;
        @include translate(0%,-50%);

        @media (max-width: $tablet) {
            display: none;
        }

        a{
            position: absolute;
            color: #FFF;

            &.flex-prev{
                left: 2%;
            }
            &.flex-next{
                right: 2%;
            }

            i.icon {
                width: 60px;
                height: 60px;
                border: 1px solid #FFF;
                color: #FFF;
                padding: 0.4em 0.3em;

                @media #{$tabletPortrait}{
                    width: 50px;
                    height: 50px;
                    padding: 0.65em 0.7em;
                }
                
            }

        }


    }

}

.go-down{
    #slider-controls{
        display: none;
        /*@extend .flexslider_navigation;
        width:150px !important;
        bottom: 0 !important;*/
    }
}

.flexslider_navigation {
    position: relative;
    margin-top: -1.8em;
    margin-right: 1.3em;
    bottom: -50px;
    width: auto;
    float: right;
    li>a {
        border-radius: 0;
        box-shadow: none;
        height: 20px;
        width: 18px;
        border-top: 1px solid #a4a6a9;
        background-color: transparent;
        @include transition(all 0.5s cubic-bezier(0, 0, 0, 2));
        &:hover {
            border-color: $yellow;
        }
        &.flex-active {
            border-color: $red;
            width: 48px;
        }
    }
}