 .video-container{
    position: relative;
    width: 100vw;
    height: calc(100vh - 70px);
    overflow: hidden;
    
    .video-embed{
        height: 100%;
        width: 100%;
        object-fit: cover;
        @media (max-width: $tablet) {
            padding-top: 75px;
            background: #000;
        }

        @media (max-width: $mobile) {
            padding-top: 50px;
        }
    }
    .video-overlay{
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        background:$overlayColor;
        height: 100%;
        width: 100%;
        color: $white;
        font-size: 30px;
        @extend .font-bold;
        cursor: pointer;
        
        @include transition(0.5s);

        &:hover{
            //background:rgba(0,0,0,0.25); 
        }

        @media (max-width: $tablet) {
            padding-top: 75px;
        }

        @media (max-width: $mobile) {
            padding-top: 50px;
        }

        .play {
            width: 100%;
            text-align: center;
        }

        i.icon{
            margin: 0 auto 2em;
            @media (max-width: $tablet) {
                margin: 0 auto;
            }
        }

    }
    .go-down{
        height: 160px;

        @media (min-aspect-ratio: 16/11){
            bottom: 70px;
            margin-bottom: 70px;
        }
    }
}