.video-modal {
    position: fixed;
    display: table;    
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;

    .row {
        display: table-cell;
        vertical-align: middle;
        iframe {
            background: #FFF;
        }
    }
    .modal-close-button {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    .video {
        height: 46vw;
    }
}

.video {
    width: 100%;
    //height: 500px;

    img{
        width: 100%;
        height: auto;
    }
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    &.mainVideo {
        width: 90vw;
        height: 50.85vw;
        margin: 40px 0;

        @media (max-width: $tablet) {
            margin: 0;
        }
    }
    &.smallVideo{
        margin-bottom: 6em;
    }
}