/* SCSS */
.vue-typer {
  /* Styles for the vue-typer container
     e.g. font-family, font-size  */


  .custom.char {
    /* Styles for each character
       e.g. color, background-color */

    &.typed {
      /* Styles specific to typed characters
         i.e. characters to the left of the caret */
         color: $black !important;
    }
    &.selected {
      /* Styles specific to selected characters
         i.e. characters to the right of the caret while VueTyper's
              'eraseStyle' is set to a selection-based style */
    }
    &.erased {
      /* Styles specific to erased characters
         i.e. characters to the right of the caret while VueTyper's
              'eraseStyle' is set to a non-selection-based style */
    }
  }

  .custom.caret {
    /* Styles for the caret
       e.g. background-color, animation, display */
    //color: $yellow;
    margin-bottom: -0.3em;
    margin-left: 0.1em;
    height: 0.2em;
    width: 0.5em;
    border:none;

    &:before{
        content:'';
    }


    &.idle {
      /* Styles for the caret when it is idle (but VueTyper has not yet completed)
         i.e. before a string starts being typed (during 'preTypeDelay') and
              before a string starts being erased (during 'preEraseDelay') */
              //background-color: $yellow;
    }
    &.typing {
      /* Styles for the caret while VueTyper is typing
         i.e. when the caret is moving forwards */
         //background-color: $red;
    }
    &.selecting {
      /* Styles for the caret while VueTyper is selecting
         i.e. when the caret is moving backwards and 'eraseStyle' is
         set to a selection-based style */
    }
    &.erasing {
      /* Styles for the caret while VueTyper is erasing
         i.e. when the caret is moving backwards and 'eraseStyle' is
         set to a non-selection-based style */
         //background-color: $blue;
         
    }
    &.complete {
      /* Styles for the idle caret when VueTyper has finished all typing/erasing */
         //background-color: $green;
      
    }
  }
}