<template>
    <div>
        <div class="content-fullwidth columns level is-mobile">
            <div class="column is-8 is-offset-2 is-size-3 level">
                <h1 class="font-black">ERROR 404</h1>
                <span v-html="$t('general.404',{ url:$route.fullPath})"></span>
            </div>
        </div>
    
        <div class="video-iframe">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/dQw4w9WgXcQ?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1&autohide=1&loop=1" frameborder="0" allowfullscreen></iframe>
        </div>
         <div class="overlay"></div>
    </div>
</template>

<script>
export default {
  mounted() {
    var vm = this;
    window.bus.$emit('hidePreload')
  },
  data() {
    return {
      locale: i18n.locale
    };
  },
  components: {
    trans: require("../modules/Trans.vue")
  },
  methods: {}
};
</script>



