<template>

    <div>
        <header-video source="home" :downtext="$t('menu.about')" :autoplay="true"></header-video>

        <div class="container width-1200">
            <div id="intro-text">
                <div class="columns intro-text dashed">
                    <h2 class="column is-narrow is-paddingless" v-html="$t('about.slogan')+'.'"></h2>
                    <span class="column u-dash is-paddingless"></span>
                </div>
                <div class="columns">
                    <div class="column is-6">
                        <p>{{$t('about.intro-1')}}</p>
                        <p>{{$t('about.intro-2')}}</p>
                        <p><strong>{{$t('about.intro-3')}}</strong></p>

                        <div class="hashtags">
                            #<vue-typer :text='hashtags'
                            :repeat='Infinity'
                            :shuffle='false'
                            initial-action='erasing'
                            :pre-type-delay='70'
                            :type-delay='50'
                            :pre-erase-delay='2000'
                            :erase-delay='10'
                            erase-style='backspace'
                            :erase-on-complete='false'
                            caret-animation='phase'></vue-typer>
                        </div>

                        <div class="contact-box">
                            <p v-html="$t('about.contact')"></p>
                            <p><strong><router-link :to="'/'+locale+'/contact'" class="">{{$t('about.contact-bt')}}</router-link></strong></p>
                        </div>
                    </div>
                    <div class="animated-gif column is-4 is-offset-2 is-9-mobile">
                        <img src="/assets/img/about/gif-placeholder.jpg">
                        <webm id="about" class="about-gif" source="/assets/img/about/about" fallback="/assets/img/about/about.gif"></webm>
                    </div>
                </div>

            </div>
        </div>

        <div class="container fadeInUp preanimate width-1200" id="people">

            <div class="columns intro-text dashed">
                <h2 class="column is-narrow is-paddingless" v-html="$t('about.people-title')+'.'"></h2>
                <span class="column u-dash is-paddingless"></span>
            </div>

            <worker-list></worker-list>

        </div>
    </div>

</template>

<script>

export default {
  mounted() {
	var vm = this;
  },
  created() {
    var vm = this;
  },
  data() {
    return {
        locale:Config.locale
    };
  },
  computed:{
        hashtags : function(){
            var array = []
            for (var i = 1; i < 10; i++) {
                array[i]=i18n.t('about.actitud.a'+i);
            }
            return array;
        }
    },
  methods: {},
  components: {
    'header-video':require('../modules/Video.vue'),
    'webm':require('../modules/Webm.vue'),
    'worker-list':require('../modules/about/WorkerList.vue'),
  },
  head: {
            title: function () {
                return {             
                    inner: 'Manifiesto · '+ i18n.t('header.title.common'),
                    complement: i18n.t('metas.about.title')
                }
            },
            meta: function () {
                return[
                    { n: 'description', c: i18n.t('metas.about.description'), id: 'desc' },
                    { n: 'keywords', c: i18n.t('metas.about.keywords') },
                    //facebook
                    { p: 'og:title', c: i18n.t('metas.about.title') },
                    { p: 'og:image', c: Config.url+'/assets/img/facebook.jpg' },
                    { p: 'og:url', c: Config.url+this.$route.fullPath },
                    { p: 'og:description', c: i18n.t('metas.about.description') },
                    //twitter
                    { n: 'twitter:title', c: i18n.t('metas.about.title') },
                    { n: 'twitter:image', c: Config.url+'/assets/img/facebook.jpg' },
                    { n: 'twitter:url', c: Config.url+this.$route.fullPath },
                    { n: 'twitter:description', c: i18n.t('metas.about.description') },

                 ]
            },
            link:  function () {
              var vm = this
              return[
                { rel: 'alternate', href: Config.url+'/'+i18n.t('general.other-locale')+'/about', hreflang:i18n.t('general.other-locale') },
              ]
            }
        }
};
</script>