<template>
   <div>
    <h1 class="invisible">{{$t('metas.contact.title')}}</h1>
    <div class="container citiestop">
        <div class="columns">
            <a class="column is-4 citytop city-1-top red" @click="scrollDown('bcn')">
                <div id="tobcn">Barcelona.</div>
            </a>
            <a class="column is-4 citytop city-2-top green" @click="scrollDown('mad')">
                <div id="tomadrid">Madrid.</div>
            </a>
            <a class="column is-4 citytop city-3-top blue" @click="scrollDown('mex')">
                <div><trans es="México" en="Mexico"></trans>.</div>
            </a>
        </div>
    </div>

    <div class="cities container">
        <div class="city" id="bcn">
            <img class="city-icon" src="/assets/img/contact/city-1.gif" alt="Barcelona">
            <div class="columns">
                <h2 class="column is-narrow is-paddingless red">Barcelona.</h2>
                <span class="column u-dash is-paddingless"></span>
            </div>
            <p>C/ Trafalgar 38-46, Primera Planta</p>
            <p>08010, BARCELONA</p>
            <p><a href="mailto:info@manifiesto.biz">info@manifiesto.biz</a></p>
            <p><a href="tel:+34933091299">+34 93 309 12 99</a></p>
            <a class="map-link" :href="'https://www.google.com/maps/place/Agencia+Manifiesto/@41.389298,2.1743073,17z/data=!3m1!4b1!4m5!3m4!1s0x12a4a31670e8055b:0xd28f2195c67e415!8m2!3d41.389298!4d2.176496?hl='+locale" target="_blank" rel="noopener">{{$t('contact.maps')}}</a>
        </div>
        <div class="city animate" id="mad">
            <img class="city-icon" src="/assets/img/contact/city-2.gif" alt="Madrid">
            <div class="columns">
                <h2 class="column is-narrow is-paddingless green">Madrid.</h2>
                <span class="column u-dash is-paddingless"></span>
            </div>
            <p>C/ Torrelaguna 60, planta 3ª, Edificio Murano</p>
            <p>28043, MADRID</p>
            <p><a href="mailto:info@manifiesto.biz">info@manifiesto.biz</a></p>
            <p><a href="tel:+34910883153">+34 91 088 31 53</a></p>
            <a class="map-link" :href="'https://www.google.com/maps/place/Calle+de+Torrelaguna,+60,+28043+Madrid,+Espa%C3%B1a/@40.4467941,-3.654895,17.02z/data=!4m5!3m4!1s0xd422f2e5d3cb201:0xce8b495ae08238ac!8m2!3d40.4469391!4d-3.6557397?hl='+locale" target="_blank" rel="noopener">{{$t('contact.maps')}}</a>
        </div>
        <div class="city animate" id="mex">
            <img class="city-icon" src="/assets/img/contact/city-3.gif" alt="México">
            <div class="columns">
                <h2 class="column is-narrow is-paddingless blue">{{$t('contact.mexico')}}.</h2>
                <span class="column u-dash is-paddingless"></span>
            </div>
            <p>José María Arteaga 217, Colonia Niños Héroes</p>
            <p>76010, Santiago de Querétaro</p>
            <p>Querétaro</p>
            <p><a href="mailto:info@manifiesto.biz">info@manifiesto.biz</a></p>
            <a class="map-link" :href="'https://www.google.es/maps/place/Jos%C3%A9+Mar%C3%ADa+Arteaga+217,+Centro,+76010+Santiago+de+Quer%C3%A9taro,+Qro.,+Mexico/@20.585753,-100.405871,17z/data=!3m1!4b1!4m5!3m4!1s0x85d3452d067c8f11:0xe2169f027e64ef52!8m2!3d20.585753!4d-100.4036823?hl='+locale" target="_blank" rel="noopener">{{$t('contact.maps')}}</a>

        </div>
    </div>

   </div>
    
</template>

<script>

require('ScrollMagicGSAP');
//require('ScrollMagicIndicators');

export default {

    mounted() {
        var vm = this;
        vm.setScrollMagic();
        //vm.setAnimation();
        window.bus.$emit('hidePreload')
    },
    created() {
        var vm = this;
        window.bus.$on('hidePreload', function (p) {
            vm.setScroller();        
            vm.initAnimation.play()
        })
    },
    beforeDestroy () {
            var vm = this;
            if(vm.contactController){
                vm.contactController.destroy(true);
                vm.contactController = null;
            }
        },
    data() {
        return {
            locale:Config.locale,
            initAnimation:new TimelineMax({paused:true}),
            ease: Power2.easeInOut
        }
    },
    methods: {
        setAnimation:function(){
            var vm = this;
            vm.initAnimation
            .add(TweenMax.from('#bcn .u-dash', 0.5, {maxWidth:'10px',ease: vm.ease}),1)
            .add(TweenMax.from('#bcn .city-icon', 0.5, {opacity:0,y:'-=10',ease: vm.ease}),1.5)
        },
        setScrollMagic:function(){
            var vm = this;
           

            var ScrollMagic = require('scrollmagic');

            vm.contactController = new ScrollMagic.Controller({
                //loglevel: 3,
                globalSceneOptions: {
                    container:'#app',
                    triggerHook: 0,
                    //loglevel: (Config.environment == 'local') ? 2 : 0,
                    //addIndicators:(Config.environment == 'local')
                }
            });

            var page1_tl = new TimelineMax();
            var page1_tw1 = TweenMax.staggerFrom('.animate .u-dash', 0.5, {maxWidth:'10px',ease: vm.ease}, 0.1);
            var page1_tw2 = TweenMax.staggerFrom('.animate .city-icon', 0.5, {opacity:0,y:'-=10',ease: vm.ease}, 0.1);

            page1_tl
            .add(page1_tw1,0)
            .add(page1_tw2,0)

            var contactPage1 = new ScrollMagic.Scene({triggerElement: "#app", duration:'70%',tweenChanges:true})
                .setTween(page1_tl)
                .addTo(vm.contactController);
            
        },
        setScroller(){
            if(window.location.hash){
                $('html, body').animate({
                    scrollTop: $(window.location.hash).offset().top -100
                }, 500);
            }
        },
        scrollDown(hash){
            var top = $("#" + hash).offset().top - 100
            $('html, body').animate({
                scrollTop: top
            }, 500);
            vm.$ga.event('button', 'click', 'contact_go_down-'+hash)
        }
    },
    components:{
        'trans':require('../modules/Trans.vue'),
    },
    head: {
            title: function () {
                return {             
                    inner: 'Manifiesto · '+ i18n.t('header.title.common'),
                    complement: i18n.t('metas.contact.title')
                }
            },
            meta: function () {
                var description = i18n.t('metas.home.description')+ '. ' +i18n.t('metas.contact.description')
                return[
                    { n: 'description', c: description , id: 'desc' },
                    { n: 'keywords', c: i18n.t('metas.contact.keywords')},
                    //facebook
                    { p: 'og:title', c: i18n.t('metas.contact.title') },
                    { p: 'og:image', c: Config.url+'/assets/img/facebook.jpg' },
                    { p: 'og:url', c: Config.url+this.$route.fullPath },
                    { p: 'og:description', c: description },
                    //twitter
                    { n: 'twitter:title', c: i18n.t('metas.contact.title') },
                    { n: 'twitter:image', c: Config.url+'/assets/img/facebook.jpg' },
                    { n: 'twitter:url', c: Config.url+this.$route.fullPath },
                    { n: 'twitter:description', c: description },
                 ]
            },
            link:  function () {
              var vm = this
              return[
                { rel: 'alternate', href: Config.url+'/'+i18n.t('general.other-locale')+'/contact', hreflang:i18n.t('general.other-locale') },
              ]
            }   
        }
}
</script>