<template>
    <div>
        <header-video source="home" :downtext="$t('menu.works')" :autoplay="true"></header-video>
        <project-list></project-list>
        <div class="container cities">
            <h2 v-html="$t('metas.contact.title')" class="invisible"></h2>
            <div class="columns is-marginless">
                <router-link :to="'/'+locale+'/contact#bcn'" class="column is-paddingless is-4 city city-1 red">
                    <img v-lazy="'/assets/img/contact/city-1.gif'" alt="Barcelona">
                    <h3>Barcelona.</h3>
                </router-link>
                <router-link :to="'/'+locale+'/contact#mad'" class="column is-paddingless is-4 city city-2 green">
                    <img v-lazy="'/assets/img/contact/city-2.gif'" alt="Madrid">
                    <h3>Madrid.</h3>
                </router-link>
                <router-link :to="'/'+locale+'/contact#mex'" class="column is-paddingless is-4 city city-3 blue">
                    <img v-lazy="'/assets/img/contact/city-3.gif'" alt="México">
                    <h3><trans es="México" en="Mexico"></trans>.</h3>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted(){
        },
        data() {
            return {
                locale:i18n.locale,
            }
        },
        components:{
            'header-video':require('../modules/Video.vue'),
            'project-list':require('../modules/home/ProjectList.vue'),
            'trans':require('../modules/Trans.vue'),
        },
        head: {
            title: function () {
                return {             
                    inner: 'Manifiesto · '+ i18n.t('header.title.common'),
                    complement: i18n.t('metas.home.title')
                }
            },
            meta: function () {
                return[
                    { n: 'description', c: i18n.t('metas.home.description'), id: 'desc' },
                    { n: 'keywords', c: i18n.t('metas.home.keywords') },
                    //facebook
                    { p: 'og:title', c: i18n.t('metas.home.title') },
                    { p: 'og:image', c: Config.url+'/assets/img/facebook.jpg' },
                    { p: 'og:url', c: Config.url+this.$route.fullPath },
                    { p: 'og:description', c: i18n.t('metas.home.description') },
                    //twitter
                    { n: 'twitter:title', c: i18n.t('metas.home.title') },
                    { n: 'twitter:image', c: Config.url+'/assets/img/facebook.jpg' },
                    { n: 'twitter:url', c: Config.url+this.$route.fullPath },
                    { n: 'twitter:description', c: i18n.t('metas.home.description') },
                 ]
            },
            link:  function () {
              var vm = this
              return[
                { rel: 'alternate', href: Config.url+'/'+i18n.t('general.other-locale'), hreflang:i18n.t('general.other-locale') },
              ]
            }
        }
    }
</script>



