<template>
    <Dynamic :comps="comps" :emptyView="emptyView"/>
</template>

<script>
import Dynamic from 'vue-dynamic/dynamic'

export default {

    mounted(){
        var vm = this
    },
    data() {
        return {
            locale:i18n.locale,
            emptyView: {
                template: '<div>'+i18n.t('general.loading')+'</div>'
            },
            comps:[],
        }
    },
    components:{
        Dynamic,
        'trans':require('../modules/Trans.vue'),
    },
    methods: {
        loadContent: function() {
            var vm = this;
            axios
                .post('/'+vm.locale+'/raw/json/legal.legal')
                .then(function(response) {
                    if (response.data.success) {
                        vm.comps =[{
                            template:response.data.html
                        }]
                        vm.$nextTick(function () {
                            window.bus.$emit('hidePreload')
                        })
                    }
        window.bus.$emit('hidePreload')
                    
                })
                .catch(function(error) {
                    console.log(error);
                });
            },
    },
    beforeRouteEnter(to, from, next) {
        next(vm => {
        vm.loadContent();
        });
    },
    beforeRouteUpdate(to, from, next) {
        this.loadContent();
        next();
    },
    head: {
            title: function () {
                return {             
                    inner: 'Manifiesto · '+ i18n.t('header.title.common'),
                    complement: i18n.t('metas.legal.title')
                }
            },
            meta: function () {
                return[
                    { n: 'description', c: i18n.t('metas.legal.description'), id: 'desc' },
                    { n: 'keywords', c: i18n.t('metas.legal.keywords') },
                    //facebook
                    { p: 'og:title', c: i18n.t('metas.legal.title') },
                    { p: 'og:image', c: Config.url+'/assets/img/facebook.jpg' },
                    { p: 'og:url', c: Config.url+this.$route.fullPath },
                    { p: 'og:description', c: i18n.t('metas.legal.description') },
                    //twitter
                    { n: 'twitter:title', c: i18n.t('metas.legal.title') },
                    { n: 'twitter:image', c: Config.url+'/assets/img/facebook.jpg' },
                    { n: 'twitter:url', c: Config.url+this.$route.fullPath },
                    { n: 'twitter:description', c: i18n.t('metas.legal.description') },

                 ]
            },
            link:  function () {
              var vm = this
              return[
                { rel: 'alternate', href: Config.url+'/'+i18n.t('general.other-locale')+'/legal', hreflang:i18n.t('general.other-locale') },
              ]
            }
        }
}
</script>



