<template>
	<div>
		<Dynamic :comps="comps" :emptyView="emptyView"/>
		<nav id="projectNav" class="columns">
			<div class="column is-6 is-offset-3 level">
				<router-link :to="'/'+locale+'/works/'+nextp.slug" v-if="nextp.slug!==''" id="next" class="navloader level-item" rel="next" :title="nextp.title"><i class="fa fa-long-arrow-left fa-fw icon"></i></router-link>
				<router-link id="up" :to="'/'+locale" class="level-item" :title="$t('metas.home.title')"><i class="fa fa-home fa-fw icon"></i></router-link>
				<a id="goto-top" href="#" class="level-item" :title="$t('general.goto-top')"><i class="fa fa-long-arrow-up fa-fw icon "></i></a>
				<router-link :to="'/'+locale+'/works/'+prevp.slug" v-if="prevp.slug!==''" id="prev" class="navloader level-item" rel="prev" :title="prevp.title"><i class="fa fa-long-arrow-right fa-fw icon"></i></router-link>
			</div>
		</nav>
	</div>
</template>

<script>
import Dynamic from 'vue-dynamic/dynamic'
import flexslider from 'flexslider';

var ScrollMagic = require('scrollmagic');

require('ScrollMagicGSAP');
//require('ScrollMagicIndicators');

export default {
  mounted() {
    var vm = this;
  },
  created(){
		var vm = this
		var tl = vm.intro_anim

		window.bus.$on('preloaderHidden', function () {
			tl.pause(0)
			setTimeout(() => {
				tl.play()
			}, 500);
		});
	},
  data() {
    return {
      locale: i18n.locale,
      ease:Power2.easeInOut,
      project:{
          description:'',
          title:'',
          image:'',
          slug:''
      },
      nextp:{
        slug:'',
        title:''
      },
      prevp:{
        slug:'',
        title:''
      },
      emptyView: {
        template: '<div>'+i18n.t('general.loading')+'</div>'
      },
      comps:[],
      intro_anim: new TimelineMax({paused:true,onComplete: function(){
            
        }}),
      controller:''
    };
  },
  methods: {
    loadProject: function(slug) {
      var vm = this;
      
      TweenMax.set(window, { scrollTo: { y: 0} });
      vm.project.slug = slug;
      axios
        .post('/'+vm.locale+'/works/project/' + slug)
        .then(function(response) {
          if (response.data.success) {
            vm.nextp.slug = response.data.nextSlug;
            vm.nextp.title = response.data.nextTitle;
            vm.prevp.slug = response.data.prevSlug;
            vm.prevp.title = response.data.prevTitle;
            vm.comps =[{
              template:response.data.html
            }]
            vm.updateMetas(response.data);
            vm.$nextTick(function () {
              vm.setSlider()
              vm.initIntroAnim() 
              vm.initScroll()
              vm.$Lazyload.$on('loaded', function ({ bindType, el, naturalHeight, naturalWidth, $parent, src, loading, error }, formCache) {
                console.log('loaded');
                window.bus.$emit('hidePreload')
                vm.$Lazyload.$off('loaded')
              })
            })
          }           
        })
        .catch(function(error) {
          console.log(error);
          vm.$router.push({path:'/'+vm.locale+'/'})
        });
    },
    updateMetas: function (d) {
      var vm = this;
      
      vm.project.title = d.clientsString+': '+ d.project.title;
      vm.project.description = i18n.t('general.sharer')+ ': '+d.clientsString+': '+ d.og_description;
      vm.project.image = d.og_image;
      
      vm.$emit('updateHead') 
    },
    setSlider: function () {
        $('.flexslider').flexslider({
            controlNav: false,
            useCSS: false,
            prevText: '',
            nextText: ''
        });
    },
    initIntroAnim: function(){
        var vm = this;
      
        vm.intro_anim.add(TweenMax.from(".projectHeaderImg", 0.5, {height:1,ease: vm.ease}),                             0);
        vm.intro_anim.add(TweenMax.from(".projectHeaderImg span", 1, {top:'150%',ease: vm.ease}),                       0);
        vm.intro_anim.add(TweenMax.from(".projectInfo", 0.3, {opacity:0,marginTop:"+=10px",ease: vm.ease}),       0.5);
        //vm.intro_anim.add(TweenMax.staggerFrom(".projectInfo header *", 0.05, {opacity:0,ease: vm.ease}, 0.05),   0.9);
    },
    initScroll: function () {
       var vm = this;
       vm.controller = new ScrollMagic.Controller({
            globalSceneOptions: {
                triggerHook: 0,
                loglevel: 0,
                duration:"500",
                //offset:"20px"
            },
            //addIndicators: true,
            //loglevel:2
        });

        // HEADER
        var header_tl = new TimelineMax();

        header_tl
        .add(TweenMax.to(".projectHeaderImg .bg", 0.5, {top: "+=160px",ease: vm.ease}), 0)
        .add(TweenMax.to(".projectHeaderImg span", 0.5, {opacity:0,top:"+=400px",ease: vm.ease}), 0)

        var scene_header = new ScrollMagic.Scene({
            //tweenChanges:true,
        }).setTween(header_tl);

       
        //scene_header.addIndicators({name: scene_header});
        
        scene_header.addTo(vm.controller);

    },
    destroyAnims: function (arams) {
      var vm = this;
      vm.intro_anim.eventCallback("onComplete", null)
      vm.intro_anim.clear()
      if(vm.controller){
          vm.controller.destroy(true);
          vm.controller = null;
      }
    }
  },
  components: {
      Dynamic
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.loadProject(to.params.slug);
    });
  },
  beforeRouteUpdate(to, from, next) {
    this.destroyAnims();
    this.loadProject(to.params.slug);
    next();
  },
  beforeRouteLeave(to, from, next) {
    this.destroyAnims();
	  this.intro_anim.clear();
    next();
  },
  head: {
            title: function () {
                return {             
                    inner: 'Manifiesto · '+ i18n.t('header.title.common'),
                    complement: this.project.title
                }
            },
            meta: function () {
              var vm = this
                return[
                    { n: 'description', c: vm.project.description, id: 'desc' },
                    { n: 'keywords', c: i18n.t('metas.projects.keywords') },
                    //facebook
                    { p: 'og:title', c: vm.project.title },
                    { p: 'og:image', c: vm.project.image },
                    { p: 'og:url', c: Config.url+vm.$route.fullPath },
                    { p: 'og:description', c: vm.project.description },
                    //twitter
                    { n: 'twitter:title', c: vm.project.title },
                    { n: 'twitter:image', c: vm.project.image },
                    { n: 'twitter:url', c: Config.url+vm.$route.fullPath },
                    { n: 'twitter:description', c: vm.project.description },
                    
                 ]},
            link:  function () {
              var vm = this
              return[
                  //link rel
                { r: 'next', h: Config.url+'/'+i18n.t('general.other-locale')+'/works/'+vm.nextp.slug },
                { r: 'prev', h: Config.url+'/'+i18n.t('general.other-locale')+'/works/'+vm.prevp.slug },
                { rel: 'alternate', href: Config.url+'/'+i18n.t('general.other-locale')+'/works/'+vm.project.slug, hreflang:i18n.t('general.other-locale') },

              ]
            }    
        }
};
</script>