<template>

    <div>
        <header-video source="reel" :downtext="$t('menu.services')" :autoplay="true"></header-video>


        <div class="logo logo-1"><h2 class="invisible">Manifiesto</h2><logo/></div>
        <div class="container columns service-list is-multiline">
            <div class="column is-6 is-12-mobile is-mobile">
                <infoblock id="1"></infoblock>
            </div>
            <div class="column is-6 is-12-mobile is-mobile">
                <infoblock id="2"></infoblock>
            </div>
            <div class="column is-6 is-12-mobile is-mobile">
                <infoblock id="3"></infoblock>
            </div>
            <div class="column is-6 is-12-mobile is-mobile">
                <infoblock id="4"></infoblock>
            </div>
            <div class="column is-6 is-12-mobile is-mobile">
                <infoblock id="5"></infoblock>
            </div>
            <div class="column is-6 is-12-mobile is-mobile">
                <infoblock id="6"></infoblock>
            </div>
        </div>

        <div class="container-full media-services">
            <div class="logo logo-2"><h2 class="invisible">Manifiesto Media</h2><logo-media/></div>
            <div class="container columns is-multiline service-list">
                <div class="column is-6 is-12-mobile is-mobile">
                    <infoblock id="7"></infoblock>
                </div>
                <div class="column is-6 is-12-mobile is-mobile">
                    <infoblock id="8"></infoblock>
                </div>
                <div class="column is-6 is-12-mobile is-mobile">
                    <infoblock id="9"></infoblock>
                </div>
                <div class="column is-6 is-12-mobile is-mobile">
                    <infoblock id="12"></infoblock>
                </div>
                <div class="column is-6 is-12-mobile is-mobile">
                    <infoblock id="11"></infoblock>
                </div>
                <div class="column is-6 is-12-mobile is-mobile">
                    <infoblock id="10"></infoblock>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import logo from '../modules/svg/Logo.vue';
import logoMedia from '../modules/svg/LogoMedia.vue';

export default {

    mounted() {
        var vm = this;
        window.bus.$emit('hidePreload')
    },
    created() {
        var vm = this;

    },
    data() {
        return {
           
        }
    },
    methods: {
        
    },
    components:{
        'header-video':require('../modules/Video.vue'),
        'trans':require('../modules/Trans.vue'),
        'infoblock':require('../modules/services/Infoblock.vue'),
        logo, logoMedia
    },
    head: {
            title: function () {
                return {             
                    inner: 'Manifiesto · '+ i18n.t('header.title.common'),
                    complement: i18n.t('metas.services.title')
                }
            },
            meta: function () {
                return[
                    { n: 'description', c: i18n.t('metas.services.description'), id: 'desc' },
                    { n: 'keywords', c: i18n.t('metas.services.keywords')},
                    //facebook
                    { p: 'og:title', c: i18n.t('metas.services.title') },
                    { p: 'og:image', c: Config.url+'/assets/img/facebook.jpg' },
                    { p: 'og:url', c: Config.url+this.$route.fullPath },
                    { p: 'og:description', c: i18n.t('metas.services.description') },
                    //twitter
                    { n: 'twitter:title', c: i18n.t('metas.services.title') },
                    { n: 'twitter:image', c: Config.url+'/assets/img/facebook.jpg' },
                    { n: 'twitter:url', c: Config.url+this.$route.fullPath },
                    { n: 'twitter:description', c: i18n.t('metas.services.description') },

                 ]
            },
            link:  function () {
              var vm = this
              return[
                { rel: 'alternate', href: Config.url+'/'+i18n.t('general.other-locale')+'/services', hreflang:i18n.t('general.other-locale') },
              ]
            }
        }
}
</script>