<template>
    <div class="go-down">
        <a id="goDownTarget"></a>
        <i class="fa fa-angle-down" aria-hidden="true" @click="goDown"></i>
        <h1 @click="goDown">{{title}}</h1>
        <div id="slider-controls" v-if="slider"></div>
    </div>
    
</template>

<script>

require('gsap');
//require('JqueryGsap');
require('ScrollTo');

export default {
    mounted() {
        var vm = this;

    },
    created() {
        var vm = this;
        window.bus.$on('videoEnd', function () {
            vm.goDown()
        });
    },
    props:[
        'title',
        'slider'
    ],
    data() {
        return {

        }
    },
    methods: {
        goDown:function(){
            window.bus.$emit('goDown');
            TweenMax.to(window, 1, { scrollTo:  '#goDownTarget', autoKill: true  })
            vm.$ga.event('button', 'click', 'go_down')
        }

    }
}
</script>