<template>
    <div id="preloader" :class="['preload',{'open':open}]">
        <div class="percent"></div>
        <img :class="['preload-bar',{'open':open}]" src="/assets/img/bar.gif" />
    </div>
</template>

<script>

import { TweenMax } from "gsap";

export default {
    mounted() {
        var vm = this;
        vm.showPreload();
    },
    created() {
        var vm = this;
        window.bus.$on('hidePreload', function (p) {
            vm.hidePreload();
        })
        window.bus.$on('showPreload', function (p) {
            console.log('showpreload');
            vm.showPreload();
        })
    },
    data() {
        return {
            ease: Quad.easeInOut,
            open:true
        }
    },
    methods: {
        showPreload: function () {
            var vm = this;
            vm.open=true

        },
        hidePreload: function () {
            var vm = this;
            vm.open=false
            window.bus.$emit('preloaderHidden')
        },
        closeSection: function (nextsec) {
            var vm = this;
            
            var $colors = $('#header').find('.colors');
            console.log("CLOSE_SECTION :: " );
            TweenMax.to($('#preloader'), 0.2, {height: $(window).height(), ease:vm.ease, onComplete:function() {
                $('.preload-bar').fadeIn(100);
                TweenMax.to($('.preload-bar'), 0.3, {height: 0,ease:vm.ease, onComplete:function() {
                    // Launch Open Section
                    //vm.openSection(nextsec);
                }})
            }});
        },
        openSection: function (nextsec) {
            console.log("OPEN_SECTION :: " + nextsec);
            nextsec = (nextsec == 'home') ? '/' : nextsec;
            window.location.href = nextsec;
        }



    }
}
</script>