<template>
    <span>{{text}}</span>
</template>

<script>
export default {
    data(){
        return{
            text:'',
            locale: i18n.locale
        }
    },
    mounted(){
        var vm = this;
        vm.text = (vm.locale=='es') ? vm.es : vm.en
    },
    props: ['es','en']
}
</script>