<template>
    <div>
        <div class="video-container container-fluid level is-mobile is-marginless">
                <video id="headerVideo" class="video-embed" :poster="'/assets/video/'+source+'-fallback.jpg'" width="1920" height="1080" @click="video('toggle')" preload="none">
                    <source :src="'/assets/video/'+source+'.mp4'" type="video/mp4"/>
                    <source :src="'/assets/video/'+source+'.webm'" type="video/webm"/>
                    <img alt="Manifiesto" :src="'/assets/video/'+source+'-fallback.jpg'" width="1920" height="1080" title="No video playback capabilities" />
                </video>
                <transition name="fade" :duration="{leave:50, enter:200}">
                    <div class="video-overlay level is-mobile" v-if="overlay" @click="openVideo">
                        <div class="play">
                            <i class="fa fa-play icon icon-white" aria-hidden="true" v-if="!videoHasEnded"></i>
                            <i class="fa fa-undo icon icon-white" aria-hidden="true" v-else></i>
                            {{$t('video.play.'+source)}}
                        </div>
                    </div>
                </transition>
        </div>
        <go-down :title="downtext"></go-down>
    </div>
</template>

<script>

export default {
    mounted() {
        var vm = this;
        vm.headerVideo = document.getElementById("headerVideo");
    },
    created() {
        var vm = this;
        window.bus.$on('goDown', function () {
            vm.video('pause')
        })
        window.bus.$on('finishedLoading', function () {
            vm.doAutoplay();
        });
    },
    props:[
        'source',
        'downtext',
        'autoplay'
    ],
    data() {
        return {
            videoHasEnded:false,
            headerVideo: null,
            overlay:true
        }
    },
    components: {
        'go-down':require('./GoDown.vue') 
    },
    methods: {
        openVideo: function(){
            var vm = this;
            vm.video('play'); 
            vm.$ga.event('video-'+vm.source, 'click', 'play')
        },
        video: function(action){
                var vm = this;

                vm.headerVideo.addEventListener('ended',vm.onVideoEnd,false);

                switch(action) {
                    case 'play':
                        vm.headerVideo.play();
                        vm.overlay=false;
                        vm.$cookie.set(vm.source+'VideoPlayed', 'true', { expires: '6h' });        
                        break;
                    case 'pause':
                        vm.headerVideo.pause();
                        vm.overlay=true;                        
                        break;
                    case 'toggle':
                        vm.headerVideo.paused ? vm.video('play') : vm.video('pause');
                        break;
                }

                vm.$ga.event('video-'+vm.source, 'action', action,0,{'nonInteraction': 1})
        },
        onVideoEnd:function(){
            var vm = this;
            //vm.headerVideo.currentTime=0
            vm.videoHasEnded=true
            window.bus.$emit('videoEnd')
            vm.overlay=true
            vm.$ga.event('video-'+vm.source, 'action', 'end',0,true)
        },
        doAutoplay:function(){
            var vm = this;
            if(!vm.$cookie.get(vm.source+'VideoPlayed')) {
                vm.$cookie.set(vm.source+'VideoPlayed', 'false')
            }      
            if(vm.autoplay==true && vm.$cookie.get(vm.source+'VideoPlayed')=='false'){
                vm.video('play')
                vm.$ga.event('video-'+vm.source, 'action', 'autoplay',0, {'nonInteraction': 1}) 
            } else {
                vm.overlay=true
            }
        }


    }
}
</script>