<template>
    <video class="webm" autoplay muted loop playsinline>
        <source :src="source+'.mp4'" type="video/mp4" />
        <source :src="source+'.webm'" type="video/webm" />
    </video>
</template>

<script>

export default {
    mounted() {
        var vm = this;
    },
    created() {
        var vm = this;
    },
    props:[
        'source',
        'fallback'
    ],
    data() {
        return {
           
        }
    },
    components: {
        
    },
    methods: {
        


    }
}
</script>