div#app.about {

.dashed{
  margin-bottom: 4em;
    h2{
      @extend .font-black;
      font-size: 134px;
      line-height: 0.9em;
      margin-bottom: 0.1em;
      color: $black;

      @media (max-width: $tablet) {
        font-size: 10vw;
      }
    }
    .u-dash{
      height: 1.7em;
      margin-top: 15.8em;

      @media (max-width: $tablet) {
        display: none;
      }
    }

    @media (max-width: $tablet) {
      margin-bottom: 0;
    }
}

p {
  font-size: 25px;
  line-height: 1.2em;
  margin-top: 1em;
  color: $black;
}

.hashtags{
  @extend .font-black;
  color: $black;
  font-size: 80px;
  margin: 1em 0;
  white-space: nowrap;

  @media (max-width: $tablet) {
    font-size: 10vw;
  }
}

.contact-box{
  @include yellow-border;
  width: 60%;
  padding: 0 1.5em 1em  ;
  a{
    @extend .font-bold;
    color: $black;
    text-decoration: underline;
    font-size: 2em;
  }

  @media (max-width: $tablet) {
    width: 100%;
    margin-bottom: 3em;
  }
}

.animated-gif{
  position: relative;
  text-align: right;

  .about-gif{
    position: absolute;
    right: 17%;
    width: 47%;
    top: 2.1%;

    @media (max-width: $maxWidth) {
      top: 2.5%;
      right: 15.3%;
      width: 50%;
    }
    @media (max-width: $screen-lg-min) {
      top: 2%;
      right: 17%;
    }
    @media (max-width: $screen-md-min) {
      top: 1.4%;
      right: 17%;
    }
    @media (max-width: $screen-sm-min) {
      width: 187px;
      top: 21px;
      right: 69px;
    }
    @media (max-width: 576px) {
      width: 49%;
      top: 3%;
      right: 17.9%;
    }
    
  }

  @media (max-width: $screen-sm-min) {
    //text-align: left;
  }
}

#people {
  margin-top: 15em;
  margin-bottom: 10em;

  @media (max-width: $tablet) {
    margin-top: 5em;
  }

  .items {
    margin-top: 5vw;
    padding-right: 0;
  }


  .item {
    cursor: pointer;
    @include animation(0.5s fadeIn);
    .hashtag{
      position: absolute;
      background: $black;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 25px;
      line-height: 1em;
      @extend .font-black;
      @include opacity(1);
      z-index: 100;
      > div{
        width: 100%;
      }

      @include transition(0.3s);

      @media (max-width: $screen-sm-max) {
        font-size: 2vw;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 3vw;
      }
      
      @media (max-width: $mobile) {
        font-size: 5vw;
      }
    }

    &:hover .hashtag{
        @include opacity(0);
    }

    .image{
      .photo{
        @include opacity(0.5);
      }
    }

    position:relative;
    box-sizing: border-box;

    color: $black;
    margin-top: 2%;
    float: left;

    animation-duration:0.4s;


  

    @media #{$mobileLandscape}{
      width: 100%;
      margin-right: 0;
    }


    .item-info {
      @extend .infoblock;
    }

    &:nth-child(4n-3){
      @extend .red;
      .image{
        background: $red;
      }
    }
    &:nth-child(4n-2){
      @extend .yellow;
      .image{
        background: $yellow;
      }
    }
    &:nth-child(4n-1){
      @extend .blue;
      .image{
        background: $blue;
      }
    }
    &:nth-child(4n){
      @extend .green;
      .image{
        background: $green;
      }
    }

  }
}




}


