div#app.contact {

    .go-down.no-slider{
        cursor: default;
        //top: 100px;
     //   margin-bottom: 200px;
    }

    #header{
        background: #000;
    }

    .cities{
        font-size: 30px;
        margin-top: 100px;
        margin-bottom: 15vw;
        @extend .width-1200;
        margin: 0 auto;
        font-size: 25px;
        line-height: 1em;
        margin-top: 5em;
        
        .u-dash{
            max-width:100%;
            @media (max-width: $tablet) {
                margin-top: 3.1em;
            }
            @media (max-width: $mobile) {
                display: none;
            }
        }

        .city{
            position: relative;
            margin-bottom: 4em;
           // color: $black;

            .city-icon{
                position: absolute;
                right: 0;
                top: -2em;
                @include yellow-border;
                @media (max-width: $tablet) {
                    top: -3.6em;
                }
                @media (max-width: $tablet) {
                    display: none;
                }
            }
            h2{
                @extend .font-black;
                font-size: 134px;
                margin-bottom: 0.1em;

                @media (max-width: $tablet) {
                    font-size: 10vw;
                }
                @media (max-width: $tablet) {
                    margin-bottom: 0.5em;
                }
            }

            a{
                color: $black;
            }

            &#bcn{
                a{
                    &:hover{
                    @extend .red;
                    }
                }
            }
            &#mad{
                a{
                    &:hover{
                    @extend .green;
                    }
                }
            }
            &#mex{
                a{
                    &:hover{
                    @extend .blue;
                    }
                }
            }
        }

        .map-link{
            display: block;
            @extend .font-bold;
            margin-top: 1em;
            color: $black;
            text-decoration: underline;
            @include transition;
            &:hover{
                color:inherit;
            }
        }
    }

    .citiestop{
        @extend .font-black;
        font-size: 30px;
        margin-top: 80px;
        margin-bottom: 20px;
        img{
            display: inline-block;
            @include yellow-border;
        }

        .citytop {
            @media (max-width: $tablet) {
                text-align: center !important;
            }
            div{
                display: block;
                margin-top: 100px;
                &:after{
                    content:'';
                    display: inline-block;
                    height: 4px;
                    margin-bottom: 0px;
                    width: 108px;
                    background: $black;
                    margin-left: 5px;
                }

                @media (max-width: $tablet) {
                    margin: 0;
                }
            }
        }

        

        .city-1-top{}
        .city-2-top{text-align: center;}
        .city-3-top{text-align: right;}
    }
}