div#app.home {

    > .container{
        @media (max-width: $tablet) {
            padding: 0;
        }
    
        @media (max-width: $mobile) {
           padding: 0;
        }
    }
   
    #projects {
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 50;

        #projectsInner {
            margin: 0 auto;
            width: 100%;

            @media(max-width: $tablet) {
                margin-top: 0;
            }

            #projectsBody {
                width: 100%;
                @include transition(height 1s ease-out);
                background-color: $white;
                .itemProject {
                    position: relative;
                    cursor: pointer;
                    //@include transition(color 0.5s);
                    background: $white;
                    padding: 10px;
                    display: inline-block;

                    @include animation(0.5s fadeIn);

                    .itemProjectImageContainer {
                        overflow: hidden;
                        position: relative;
                        .itemProjectImage {
                            position: relative;
                            width: 100% !important;
                            height: 20vw;
                            max-height: 360px;
                            left: 0;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                        
                            @include transition(all 2s cubic-bezier(0.215, 0.610, 0.355, 1.000));
                            overflow: hidden;
                            @media (max-width: $maxWidth) {
                                height: 17vw;
                            }
                            @media (max-width: $tablet) {
                                height: 22vw;
                            }
                            @media (max-width:$screen-sm-min) {
                                height: 45vw;
                            }
                            &.color_1 {background-color: $red;}
                            &.color_2 {background-color: $yellow;}
                            &.color_3 {background-color: $blue;}
                            &.color_4 {background-color: $green;}
                            .itemProjectImageOpacityLayer {
                                position: absolute;
                                cursor: pointer;
                                display: block;
                                height: 100%;
                                width: 100%;
                                color: #FFF;
                                //@include transition(all 0.2s $ease);
                                background-color: transparentize(#000, 0.75);
                                @media(max-width: $tablet) {
                                    //.itemProjectImageOpacityLayer_hover;
                                }
                            }
                        }
                        .clientLogo{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            @include translate(-50%,-50%);
                            border:1px transparent solid;

                            max-width: 50%;
                            
                        }
                    }
                    &:hover>.itemProjectImageContainer>.itemProjectImage {
                        @include transform(scale(1.1, 1.1));
                    }
                    .itemProjectImageOpacityLayer_hover {
                        height: 120%;
                        @mixin overlayMixin($color: $red) {
                            background-color: darken(transparentize($color, 0.3), 10%);
                        }
                        @include overlayMixin($color: #000);
                        &.color_0 {
                            @include overlayMixin($red);
                        }
                        &.color_1 {
                            @include overlayMixin($yellow);
                        }
                        &.color_2 {
                            @include overlayMixin($blue);
                        }
                        &.color_3 {
                            @include overlayMixin($green);
                        }
                    }
                    &:hover>.itemProjectImageContainer>.itemProjectImage>.itemProjectImageOpacityLayer {
                        @extend .itemProjectImageOpacityLayer_hover;
                        @include transition(all 0.3s ease-out);
                    }
                    .itemProjectInfo {
                        display: block;                        
                        width: 90%;
                        @extend .infoblock;
                        margin: 1.5em 0 2.5em;

                        @media (max-width: $tablet) {
                            margin: 0;
                            width: 95%;
                        }
                        @media (max-width: $mobile) {
                            margin-bottom: 1.2em;                
                        }

                        h2{
                            font-size: 1.5em;
                            @media (max-width: $tablet) {
                               margin-bottom: 0.2em;
                               margin-top: 0.7em;
                            }
                        }
                        
                    }
                }
                .bt-more{
                    margin-top: 80px;
                }
            }
        }
    }
    #projectLoader {
        position: relative;
        @extend .bg-red;
        overflow: hidden;
        text-align: center;
        color: #FFF;
        background-image: url('/assets/img/bar.gif');
        background-repeat: repeat-y;
        background-size: 100% 5px;
        .text {
            position: absolute;
            top: 30px;
            left: 30px;
            text-transform: uppercase;
            text-align: center;
            @extend .font-black;
            font-size: 2em;
            color: #FFF;
        }
    }
    #goto-top {
        height: 73px;
        margin: 0 auto;
        position: relative;
        text-align: center;
        display: block;

        i{
            margin: 0 auto;
        }
        @media (max-width: $mobile) {

        }
    }

    .cities{
        @extend .font-black;
        font-size: 30px;
        margin-top: 80px;
        margin-bottom: 100px;
        img{
            display: inline-block;
            @include yellow-border;
        }

        .city {
            @media (max-width: $tablet) {
                text-align: center !important;
            }
            h3{
                display: block;
                margin-top: 100px;
                @include transition(color 0.2s);
                &:after{
                    content:'';
                    display: inline-block;
                    height: 4px;
                    margin-bottom: 0px;
                    width: 108px;
                    background: $black;
                    margin-left: 5px;
                }

                @media (max-width: $tablet) {
                    margin: 0;
                }
            }
        }

        

        .city-1{}
        .city-2{text-align: center;}
        .city-3{text-align: right;}
    }
}