div#app.legal {
    h1,h2,h3{
        color: $black;
    }

    #header{
        background: #000;
    }

    #legalContainer{
        padding-top: 100px;
        padding-bottom: 50px;
    }
}

// ERROR PAGES
div#app.error  {
    @extend .level;
    width: 100vw;
    height: calc(100vh - 230px);
    @media (max-width: $mobile) {
        height: calc(100vh - 290px);
    }
    
    .content-fullwidth{
        position: relative;
        z-index: 200;
        color: $white;
        height: 100%;
        width: 100vw;
        strong{
            @extend .font-black;
            color: $white;        
        }
        h1{
            color: $white;        
            font-size: 3em;
            @include mobile{
                font-size: 3em;
            }
        }

        @include mobile{
            padding: 20px;
        }
    }

    .overlay{
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        background:transparentize($black , 0.2);
        height: calc(100vh - 230px);
        width: 100vw;

        z-index: 100;
        @media (max-width: $mobile) {
            height: calc(100vh - 290px);
        } 
    }

    .video-iframe{
        position: absolute;
        top: 0;
        left: 0;
        height: calc(100vh - 230px);
        width: 100vw;        
        z-index: 10;
        @media (max-width: $mobile) {
            height: calc(100vh - 290px);
        } 
    }

    footer{
        position: fixed;
        bottom: 0;
        width: 100vw;
    }
    
}