div#app.project {

    .projectHeaderImg {
        background-repeat: no-repeat;
        background-position: 0% 50%;
        background-size: cover;
        height: 41vw;
        @include transition(all 0.5s);

        @media (max-width: 860px) {
            height: 80vw;
        }


        position: relative;
        overflow: hidden;
        > span {

            position: absolute;
            display: block;
            top: 50%;
            padding: 0 18%;
            width: 100%;
            z-index: 400;
            
            color: #FFF;
            text-align: center;
            
            transform: translateY(-50%);
            
            strong {
                letter-spacing: .04em;
            }
            @include transition-font();
            font-size: 50px;
            line-height: 1.1em;
            letter-spacing: .03em;
            @media #{$desktop1280} {
                font-size: 40px;
                padding: 0 20% !important;
            }
            @media #{$tabletPortrait} {
                font-size: 25px;
            }
            @media #{$mobileLandscape} {
                padding: 0 5% !important;
                font-size: 22px;
            }
            @media #{$mobilePortrait} {
                font-size: 16px;
            } 

        }

        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            background:$overlayColor;
            height: 100%;
            width: 100%;
            z-index: 200;
        }

        .bg{
            background-color: $black;        
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 100;
            background-position: 50% 50%;
            background-size: cover;
        }

        strong{
            color: $white;
        }

        &.mitsubishi-electric-tecnologia-con-la-que-puedes-contar{
            span{
                color: #E12026;
            }
            strong{
                color: $black;
            }
            .overlay{
                display: none;
            }
        }

        @include transition(none);

        background-position: 50% 0;

        &.header-align-left {
            background-position: 0 50%;
        }

        &.header-align-right {
            background-position: 100% 50%;
        }

        &.header-align-center {
            background-position: 50% 50%;
        }

    }

    .projectInfo {
        margin: 120px auto 60px;
        padding: 0 5%;
        font-size: 16px;

        @media #{$tabletLandscape} {
            margin-top: 50px;
            font-size: 18px;
        }

        .row {
            margin-top: 30px;

            @media #{$tabletLandscape}{
            margin-top: 15px;
            }

            @media #{$mobileLandscape}{
            margin-top: 0px;
            }
        }

        h1 {
            line-height: 1em;
        }

        h2, h3, h4 , h5{
            @extend .font-bold;
            //text-transform: uppercase;
            margin-top: 0;
        }

        h2 {
            font-size: 17px;
            margin-top: 30px;
            margin-bottom: 20px;

            @media (max-width: $tablet){
                font-size: 1.4em;
        
            }

            &.h2-row {
                margin-top: 100px;
    
                    @media #{$tabletLandscape}{
                        margin-top: 60px;
                    }
            }
            &.h2-row-video{
                margin-top:30px;
            }

        }

        h3 {
            font-size: 36px;
            letter-spacing: 0.05em;
            margin-top: 30px;

            &.h3-row {
            margin-top: 100px;

                @media #{$tabletLandscape}{
                    margin-top: 60px;
                }
            }
            &.h3-row-video{
                margin-top:30px;
            }

        }

       

    h4 {
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        list-style-position: inside;
        margin-bottom: 40px;

        &.list-also {

        @extend .font-bold;
        font-size: 1.3em;

        @media #{$tabletLandscape} {
            font-size: 0.8em;
        }
        }
    }

    ol {
        counter-reset: li;
        list-style-position: inside;

        margin: 0;
        padding: 0;

        li {
        margin: 10px 0 10px 2em;
        list-style-type: none;
        position:relative;

        &:before {
            content: counter(li); /* Use the counter as content */
            counter-increment: li; /* Increment the counter by 1 */
            /* Position and style the number */
            position:absolute;
            top: -2px;
            left: -2em;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 2em;
            text-align: center;
        }
        }
    }

    hr {
        margin: 60px 0;

        @media #{$tabletLandscape}{
        margin: 40px 0;
        }

        @media #{$mobileLandscape}{
        margin: 30px 0;
        }
    }

    .bg-darker-gray {
        color: #d8d6d7;
        padding: 0;
        margin: 0;
    }

    .bg-gray {
        background: #e7e3e2;
        padding: 70px 56px;

        width: 100vw;
        margin-left: -5vw;

        @media #{$desktop1280}{
        padding: 50px 40px;
        }

        @media #{$tabletLandscape}{
        padding: 40px 20px;
        }

        @media #{$mobileLandscape}{
        padding: 25px 0px;
        }

        img {
        width: 100%;
        height: auto;
        //margin-bottom: 30px;
        //box-shadow: #AAA 6px 6px 12px;

        &.no-shadow{
            box-shadow:none;
        }


        }

        > div, >div > div{
        padding: 0;

        @media #{$mobileLandscape}{
            padding: 0px 15px;
        }
        }

        .side-padding{
        padding:0 15px;
        }

        .full-padding{
        padding:30px;
        }

        .vertical-padding{
        padding: 15px 0;
        }

        div.no-shadow{
        img{
            box-shadow:none;
        }
        }
    }

    .mainImg {
        width: 100%;
        height: auto;
    }

    .row-results {
        border-top: 1px solid #e7e3e2;
        margin-top: 4em;
        padding-top: 2em;

        @media (max-width: $tablet) {
            padding-left: 15px;
            padding-right: 15px;
        }
        h3{
            font-size: 24px;
            margin: 0;
            padding-bottom: 4px;
            @extend .font-regular;
        }

        .row{
        margin-top: 0px;
        }

        .h2-row{
            font-size: 36px;
            letter-spacing: .05em;
        }
    }

    .results {
        color: $black;
        font-size: 24px;
        margin: 20px 0 50px;
        overflow: visible;
        line-height: 1.1em;

        @media (max-width: $tablet) {
            font-size: 28px;
        }

        @media (max-width: $mobile) {
            font-size: 32px;
        }

        .media-left {
        padding: 10px 20px 0 0;

        animation-duration: 0.2s;

        img {
            width: 76px;
            height: auto;
        }

        @media #{$tabletLandscape}{
            padding: 10px 10px 0 0;
            img {

            width: 60px;
            }
        }

        }

        .media-heading {
        @extend .font-black;
        font-size: 3vw;
        margin-bottom: 0px;
        margin-top: 0px;

        @media #{$mobileLandscape}{
            font-size: 1em;
        }
        }

        .media-body {
        padding-left: 20px;
        letter-spacing: 0.05em;

        animation-duration: 0.3s;
        }
    }

    div.flexslider {
        margin: 40px 0 0 0;
        background-color: transparent;

        @media (max-width: $mobile) {
            margin: 0;
            padding: 0 !important;
        }

        .slides {
            margin: 0;
            li img {
                //box-shadow: #AAA 6px 6px 12px;
            }
        }

        $ad: -15px;

        &:hover .flex-prev {
            @extend .bg-blue;
        }

        &:hover .flex-next {
            @extend .bg-blue;
        }

        .flex-prev {
            left: 0;
            @media (max-width: $mobile) {
                left: $ad;
            }
        }

        .flex-next {
            right: 0;
            @media (max-width: $mobile) {
                right: $ad;
            }
        }
        .flex-direction-nav {
            margin: 0;
        }

        .flex-direction-nav a {
            @extend .bg-red;
            text-shadow: none;
            color: #FFF;
            @include opacity(1);
            width: 60px;
            height: 60px;
            padding: 2px 20px 0;

            &:before {
                font-family: "FontAwesome";
                font-size: 35px;
                color: #FFF;
                text-shadow: none;
            }

            &.flex-prev:before {
                content: '\f104';
            }

            &.flex-next:before {
                content: '\f105';
            }
        }
    }

    //FIXES

    img.img-width-fix {
        width: 100%;
        height: auto;
    }

    .col-md-6 iframe {
        margin-top: 30px;
        //box-shadow: #AAA 6px 6px 12px;
    }

    &#mitsubishi-electric-tecnologia-con-la-que-puedes-contar #gif{
        width:50%;

        @media #{$tabletPortrait} {
        width: 70%;
        }
        @media #{$tabletLandscape} {
        width: 100%;
        }
    }

    }

    #projectContent {
        background-color: #FFF;
        color: $black;
        overflow: hidden;
    }

 

    .project-dash {
        $pdw: 37px;
        $pdh: 11px;
        display: block;
        width: $pdw;
        height: $pdh;
        background: $black;
        margin: 30px 0;

        animation-duration: 0.1s;
        animation-delay: 0s;

        @media (max-width: $tablet) {
            width: $pdw*0.7;
            height: $pdh*0.7;
        }

        @media (max-width: $mobile) {
            width: $pdw*0.5;
            height: $pdh*0.5;
        }
    }

    .project-dash.divider {
        margin: 100px 0;

        @media #{$tabletLandscape} {
            margin: 70px 0;
        }

        @media #{$mobileLandscape} {
            margin: 40px 0;
        }
    }

    .projects.sharer {

        $sharerGray: #646361;

        padding: 30px 0 0px;
        margin: 25px 0;
        color: $sharerGray;
        @extend .font-black;

        @media #{$mobileLandscape} {
            font-size: 12px;
        }

        li {
            display: inline-block;
            padding: 0;

            &:first-child {
                @media #{$mobileLandscape} {
                    padding: 0px 5px 0 0;
                }
            }
        }
        li > span {
                cursor: pointer;
                padding: 15px 0px 10px 20px;
                margin: 0;
                @include transition(all, 0.2s);
                color: $sharerGray;

                &.facebook:hover {
                    color: #3A5795;
                }
                &.twitter:hover {
                    color: #55acee;
                }
                &.linkedin:hover {
                    color: #0073B2;
                }

            }
    }

    .video-list-container {
        display: table;
    }

    .video-button {
        cursor:pointer;
        padding: 0;
        display: block;

        h4 {
            position:absolute;
            bottom: 10px;
            left: 10px;
            font-size: 15px !important;
            @extend.font-black;
            margin: 0;
            color: $black;
        }

        .play-button {
            position:absolute;
            background: transparent url('/assets/img/projects/icons/video-play.png') 50% 50% no-repeat;
            width: 100%;
            height: 100%;

            @include opacity(0.75);
            @include transition(all 0.2s ease-out);

            &:hover {
                @include opacity(1);
                background-color: transparentize($red, 0.5);
            }

            @media #{$tabletLandscape}{
            margin-top: -20px;
            margin-left: -19px;
            }

        }
    }

    // NAVIGATION BUTTONS

    #projectNav {
        text-align: center;
        margin: 0 auto 4em;

        a{
            margin: 0 1em;
            display: inline-block;

            .fa-long-arrow-left{
                padding-left: 21px;
            }
            .fa-home{
                padding-left: 23px;
            }

            @media (max-width: $mobile) {
                margin: 0 0.5em;
            }
        }
        
    }


    .site-link{
        margin-left: 5px;
    }

    .flexslider{
        border:none !important;
    }

    picture img{
        width:100%;
    }

    .audio-container{
        height:20vw;
        padding: 15px 30px !important;
        
        @media #{$tablet992}{
            height: 23vw;
            padding: 5px 10px !important;
        }
        
        .audio-content{
            cursor: pointer;
            background-color: #939393;
            background-image: url('/assets/img/projects/icons/audio.png');
            background-size: auto 20%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;

            @media (max-width: $mobile){
                background-size: auto 35%;                
            }

            @include transition(background-color 0.3s, background-size 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550));
            
            &.playing{
                background-color: $green;
                background-size: auto 35%;

                @media (max-width: $mobile){
                    background-size: auto 40%;                
                }

            }

            &:not(.playing):hover{
                background-color: $red;
                background-size: auto 15%;
                
                @media (max-width: $mobile){
                    background-size: auto 30%;                
                }
            }

            audio{
                /* width:100%;
                position:absolute;
                bottom:0; */
            }
        }

        
    }

    video.webm{
        width: 100%;
    }


    //SPECIFIC PROJECTS
    //general

.container-full{
    margin-left: -5.6%;
    margin-right: -5.6%;
    

    [class*="col-md"] {
        min-height: 0px;
    }

    @media #{$tabletPortrait}{
        margin-left:-15px; 
        margin-right:-15px;
        margin-top: 25px;
    }

    .project-dash{
        margin: 0px 0;
    }
}

.is-table-row {
    display: table;
}
.is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
//asus

    .twitter-container{
        position:relative;
        width: 100%;
        text-align: center;
    
        .twitter-icon{
            position:absolute;
            width: 7% !important;
            left: 11%;
        }

        .twitter-feed{
            width: 62% !important;
            -webkit-box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);
            -moz-box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);
            box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);
        }
        .twitter-gif{
            position:absolute;
            width: 18% !important;
            left: 40.8%;
            top: 27%;
        }
    }

    .instagram-facebook-container{
        position:relative;
        width: 100%;

        .instagram-icon{
            position:absolute;
            width: 7% !important;
            top: -32.5%;
            left: 2%;
        }

        .instagram-feed{
            width: 28% !important;
            margin-top: -11%;
            margin-left: 10%;
            -webkit-box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);
            -moz-box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);
            box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);
        }

        .facebook-icon{
            position:absolute;
            width: 7% !important;
            top: -20%;
            right: 2.8%;
        }

        .facebook-feed{
            width: 58% !important;
            margin-top: 1%;
            margin-left: 1%;
            -webkit-box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);
            -moz-box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);
            box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);
        }

        .facebook-gif{
            position:absolute;
            width: 14.5% !important;
            left: 58.8%;
            top: 52%;
        }
    }

    .youtube-container{
        position:relative;
        width: 100%;
        text-align: center;

        .youtube-icon{
            position:absolute;
            width: 7% !important;
            top: 3%;
            right: 12.5%;
        }

        .youtube-feed{
            width: 58% !important;
            margin-top: 1%;
            margin-left: 1%;
            -webkit-box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);
            -moz-box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);
            box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);
        }

        .youtube-gif{
            position:absolute;
            width: 40% !important;
            left: 30.8%;
            top: 8%;
            height: 64%;
        }

    }

    

    .post-influencer{
    width:13.5%;
    display: inline-block;
    vertical-align: top;
    text-align: center;

    @media #{$tabletPortrait}{
        width:24%;
        padding: 0px 5px !important;
    }
    @media #{$mobileLandscape}{
        width:45%;

        &:last-child{
            display:none;
        }
    }

        img{
        width: auto;
        }
    }


//beat bikers

   
        .gif-logo-bb{
            text-align: center;
            padding: 5% 0px;
            background: #282224;

            img, video{
                width: 25%;
                @media (max-width: $mobile){
                    width: 100%;               
                }
            }
        }

        .gif-text-bb{
            text-align: center;
            padding: 6% 0px;
            background: #F5F6F8;

            img,video{
                width: 35%;
                @media (max-width: $mobile){
                    width: 100%;               
                }
            }
        }

        .gif-web-bb{
            padding: 7% !important;
            background-image: url('/storage/projects/beatbikers-transformacion-digital/bg-black.jpg');
            background-size: cover;
            background-repeat: no-repeat;

            img{
            width: 65%;
            -webkit-box-shadow: 10px 10px 10px -1px #3a3939;
            -moz-box-shadow: 10px 10px 10px -1px #3a3939;
            box-shadow: 10px 10px 10px -1px #3a3939;
                @media (max-width: $mobile){
                    width: 100%;               
                }
            }
        }

        .gif-devices-bb{
            padding: 12% 0px; 
            background:#FFCE00;
            text-align: center;

            .ipad{
            position:absolute;
            width: 60%;
            top: 36.5%;
            left: 20%;
            z-index:1;
            }
            .ipad-gif{
            position:absolute;
            width: 46.68%;
            top: 45.4%;
            left: 26.7%;
            z-index:2;
            }
            .iphone{
            position:absolute;
            width: 23%;
            right: 7%;
            top: 66%;
            z-index:3;
            }
            .iphone-gif{
            position:absolute;
            width: 15.5%;
            right: 11%;
            top: 85%;
            z-index:4;
            }
        }

        .gif-facebook-bb{
            background: #F5F6F8;
            padding: 10px 0px 5% 25%; 

            @media (max-width: $tablet){
                padding: 0;             
            }

            img, video{
            width: 80%;
            -webkit-box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);
            -moz-box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);
            box-shadow: 10px 10px 10px -1px rgba(214,214,214,1);

                @media (max-width: $mobile){
                    width: 100%;               
                }
            }
        }

    

    //danone-pro
    #lacasitos{
        position:absolute;
        left: 0;
        top: 34.2%;
        width: 15%;
        box-shadow: none;
        z-index: 100;

        @media (max-width: $mobile) {
            top: 31%;
        }

    }

    #danone-gif-1{
        position: absolute;
        top: 0;
        left: 3.8%;
        z-index: 2;
        width: 65%;
    }

    //babicka-vodka-the-other-side
    #babicka-gif-1 {
            position: absolute;;
            right: 8%;
            top: 25%;
            width: 30%;
    }

    #babicka-gif-2 {
        position: absolute;;
        right: 8%;
        bottom: 3%;
        width: 30%;
    }

    //baila-con-barbie
    #dance img {
        width: 60px !important;

        @media #{$tabletLandscape} {
           width: 50px !important
        }
    }

    //tostarica-bizcochitos-fabrica-magica

    #gymkana{
        position: absolute;
        top: -7%;
        /*left: 15px;*/
        width: 35%;
        z-index: 2;
    }

    #bizcochito-1{
        position: absolute;
        bottom: -1.5%;
        left: 57.5%;
        width: 9%;
        z-index: 2;
    }

    #bizcochito-2{
        position: absolute;
        top: -16%;
        right: 10%;
        z-index: 2;
        width: 25%;
    }

    #bizcochito-3{
        position: absolute;
        top: -20%;
        left: 51.8%;
        z-index: 2;
        width: 9%;
    }

    #bizcochito-4{
        position: absolute;
        top: -17%;
        right: 20%;
        z-index: 2;
        width: 9%;
    }

    //ajuntament-barcelona-autentic-paper-del-nadal

    .social-paper-nadal{
        position: absolute;
        top: 5%;
        width: 90% !important;
        left: 5%;
    }

}