div#app.services {

    .slider-header{
        .slides{
            opacity: 1;
        
            .slide{
                div{
                    position: absolute;
                    bottom: 30px;
                    right: 30px;
                    text-align: right;
                    color: $white;
                    font-size: 1.5em;
                    line-height: 1.1em;
                    strong{
                        @extend .font-black;
                    }
                    z-index: 100;
                }

            }

            #slide-1 strong{color:$red}
            #slide-2 strong{color:$blue}
            #slide-3 strong{color:$green}
            #slide-4 strong{color:$yellow}
        }
    }
    .go-down{
        margin-bottom: 30px;

        @media (max-width: $tablet) {
            margin-bottom: 2em;

        }
    }

    .container{
        background: transparent;
    }

    .logo{
        margin: 60px auto;
    }

    .logo-1{
        width: 15%;        
        .st0{
            fill:$black
        }

        @media (max-width: $tablet) {
            width: 35%;
        }

        @media (max-width: $mobile) {
            width: 70%;
        }
    }

    .service-list{
        @extend .width-1200;

        .infoblock{
            font-size: 20px;
            line-height: 1.4em;
            padding-right: 20px;

            h3 {
                position: relative;
                text-align: center;
                border:5px solid #048ebb;
                width: 66%;
                padding: 0.3em;
                margin-bottom: 2em;

                @media (max-width: $tablet) {
                    width: 90%;
                }

                &:before{
                    content:'';
                    position: absolute;
                    right: -55%;
                    bottom: -5px;
                    width: 55%;
                    height: 100%;
                    border-bottom:5px solid #000;

                    @media (max-width: $tablet) {
                        width: 10%;
                        right: -10%;
                    }
                }
                &:after{
                    content:'';
                    position: absolute;
                    border:5px solid $white;
                    background:#048ebb;
                    width: 15px;
                    height: 15px;
                    right: -10px;
                    bottom: -10px;
                }
            }
        }
    }

    .media-services{
        $mediagreen:#77ae40;
        background: $black;
        
        .logo-2{
            padding-top: 110px;
            width: 27%;
            
            @media (max-width: $tablet) {
                width: 50%;
            }

            @media (max-width: $mobile) {
                width: 80%;
            }
        }

        .service-list{
            

            .infoblock{
                color:$white;
                h3 {
                    border-color: $white;
                    &:before{
                        border-color: $mediagreen;
                    }
                    &:after{
                        border-color: $black;
                        background: $white;
                    }
                }
            }

        }
    }
}