<template>
    <div class="infoblock">
        <h3>{{$t('services.p'+id+'-title')}}</h3>
        {{$t('services.p'+id+'-description')}}
    </div>
</template>

<script>

export default {

    mounted() {
        var vm = this;

    },
    created() {
        var vm = this;

    },
    data() {
        return {
           locale:Config.locale
        }
    },
    props:['id'],
    methods: {
        
    },
    components:{
        
    }
}
</script>