// Override initial variables here
// You can add new ones or update existing ones:

/* Colors  */
$white: #FFFFFF;
$black: #292626;
$greyLighter: #cecece;
$greyDarker:#a5a6aa;
$redLighter: #e6655c;
$yellowLighter: #fbd77d;
$greyBg:#464649;
//manicolors
$red: #F05D5D;
$yellow: #FFC556;
$blue: #009AC7;
$green: #54B847;
//socialColors
$facebook:#3A5795;
$vimeo:#44BBFF;
$linkedin:#0073B2;

$overlayColor:rgba(0,0,0,0.5);

// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:

//$danger: $red; // Use the existing orange
$family-primary: 'nexa_lightregular'; 
$body-background: $white;


@import "node_modules/bulma/bulma";

