/**
    Document   : fonts
    Created on : 2017
    Author     : manifiesto
    Description: Tipografias.

**/

@import "variables";
@font-face {
    font-family: 'nexa_blackregular';
    src: url('/assets/fonts/nexa/nexablack-webfont.eot');
    src: url('/assets/fonts/nexa/nexablack-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/nexa/nexablack-webfont.woff2') format('woff2'), url('/assets/fonts/nexa/nexablack-webfont.woff') format('woff'), url('/assets/fonts/nexa/nexablack-webfont.ttf') format('truetype'), url('/assets/fonts/nexa/nexablack-webfont.svg#nexa_blackregular') format('svg');
    font-weight: normal !important;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'nexa_blackregular';
        src: url('/assets/fonts/nexa/nexablack-webfont.svg') format('svg');
    }
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('/assets/fonts/nexa/Nexa_Free_Bold-webfont.eot');
    src: url('/assets/fonts/nexa/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/nexa/Nexa_Free_Bold-webfont.woff2') format('woff2'), url('/assets/fonts/nexa/Nexa_Free_Bold-webfont.woff') format('woff'), url('/assets/fonts/nexa/Nexa_Free_Bold-webfont.ttf') format('truetype'), url('/assets/fonts/nexa/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal !important;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'nexa_boldregular';
        src: url('/assets/fonts/nexa/Nexa_Free_Bold-webfont.svg') format('svg');
    }
}

@font-face {
    font-family: 'nexa_lightregular';
    src: url('/assets/fonts/nexa/Nexa_Free_Light-webfont.eot');
    src: url('/assets/fonts/nexa/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/nexa/Nexa_Free_Light-webfont.woff2') format('woff2'), url('/assets/fonts/nexa/Nexa_Free_Light-webfont.woff') format('woff'), url('/assets/fonts/nexa/Nexa_Free_Light-webfont.ttf') format('truetype'), url('/assets/fonts/nexa/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'nexa_lightregular';
        src: url('/assets/fonts/nexa/Nexa_Free_Light-webfont.svg') format('svg');
    }
}

.font-black {
    font-family: 'nexa_blackregular';
}

.font-bold {
    font-family: 'nexa_boldregular';
}

strong {
    @extend .font-bold;
}

.font-regular {
    font-family: 'nexa_lightregular';
}

.uppercase {
    text-transform: uppercase;
}

//COLORS
.red {
    color: $red
}

.blue {
    color: $blue
}

.green {
    color: $green
}

.yellow {
    color: $yellow
}

.size-filter {
    font-size: 14px;
}

.size-menu {
    //@include transition-font();
    font-size: 12px;
    @media (max-width: $tablet) {
        font-size: 14px;
    }
}

.size-social {
    font-size: 14px !important;
    @media (max-width: $tablet) {
        font-size: 20px !important;
    }
}

.size-title {
    @include transition-font();
    font-size: 50px;
    @media (max-width: $tablet) {
        font-size: 45px;
    }
    @media (max-width: $mobile) {
        font-size: 40px;
    }

}

.size-subtitle {
    @include transition-font();
    font-size: 17px;
    @media (max-width: $tablet) {
        font-size: 15px;
    }
    @media (max-width: $mobile) {
        font-size: 13px;
    }
    
}

.size-contact {
    @include transition-font();
    font-size: 20px;
    @media #{$desktop1280} {
        font-size: 15px;
    }
}