//Text alignmnents
.center {
    text-align: center;
}
//Disable selection
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hidden {
    display: none;
}
.clearfix {
    clear: both;
}
.no-padding {
    padding: 0 !important;
}
// Shadows
@mixin shadow($color: #000) {
    text-shadow: $color 1px 2px 0px;
}
.shadow_none {
    text-shadow: none !important;
}
@mixin textshadow($color: #000) {
    text-shadow: $color 0px 0px 12px, $color 0px 0px 6px, $color 0px 0px 3px, $color 0px 0px 1px;
}
@mixin boxshadow($color: #000) {
    box-shadow: $color 0px 0px 12px, $color 0px 0px 6px, $color 0px 0px 3px;
}
@mixin innershadow($color: #000, $width: 3px) {
    box-shadow: inset $color 0px 0px $width $width;
}
// Transformations
@mixin transform($op) {
    -webkit-transform: $op;
    -moz-transform: $op;
    -o-transform: $op;
    -ms-transform: $op;
    transform: $op;
    /*-webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;*/
}
@mixin transform_origin($op) {
    -webkit-transform-origin: $op;
    -moz-transform-origin: $op;
    -o-transform-origin: $op;
    -ms-transform-origin: $op;
    transform-origin: $op;
}
@mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}
//Cursor pointer
.pointer {
    cursor: pointer;
}
// rounded corners
@mixin rounded($px1: 5px, $px2: $px1, $px3: $px1, $px4: $px1) {
    border-radius: $px1 $px2 $px3 $px4;
}
@mixin opacity ($opacity: 0.5) {
    $opacity2: $opacity*100;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=#{opacity2})';
    filter: alpha(opacity=$opacity2);
    -webkit-opacity: $opacity;
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
    opacity: $opacity;
}

/*@mixin transition($obj:all, $time:0.15s, $easing:ease-out, $delay:0s) {
    transition: $obj $time $easing $delay;
    -moz-transition: $obj $time $easing $delay;
    -ms-transition: $obj $time $easing $delay;
    -o-transition: $obj $time $easing $delay;
    -webkit-transition: $obj $time $easing $delay;
}*/

@mixin transition-font($obj: font-size, $time: 0.3s, $easing: ease-out, $delay: 0s) {
    transition: $obj $time $easing $delay;
    -moz-transition: $obj $time $easing $delay;
    -ms-transition: $obj $time $easing $delay;
    -o-transition: $obj $time $easing $delay;
    -webkit-transition: $obj $time $easing $delay;
}
@mixin translate($left, $top) {
    -ms-transform: translate($left, $top);
    -webkit-transform: translate($left, $top);
    transform: translate($left, $top);
}
.margin-right-15 {
    margin-right: 15px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.filter-color {
    color: $red;
}
.bg-red {
    background-color: $red;
}
.bg-blue {
    background-color: $blue;
}
.bg-green {
    background-color: $green;
}
.bg-yellow {
    background-color: $yellow;
}
.bg-grey {
    background-color: $greyBg;
}
.color-black {
    color: #000;
}
.inline-bg-black {
    display: inline;
    background: #000;
    color: #FFF;
    box-shadow: -3px 0 0 #000, 3px 0 0 #000;
}
.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin border-image($op) {
    -webkit-border-image: $op;
    /* Safari 3.1-5 */
    -o-border-image: $op;
    /* Opera 11-12.1 */
    border-image: $op;
}
//animate.css settings
@mixin animSettings($duration: 1s, $delay: 0s, $iteration: 1) {
    -moz-animation-duration: $duration;
    -moz-animation-delay: $delay;
    -moz-animation-iteration-count: $iteration;
    -webkit-animation-duration: $duration;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count: $iteration;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: $iteration;
}
//gradient borders
@mixin top-to-bottom($fromColor: #000) {
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from($fromColor), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient($fromColor, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient($fromColor, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient($fromColor, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to bottom, $fromColor, rgba(0, 0, 0, 0)) 1 100%;
}
@mixin bottom-to-top($fromColor: #000) {
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from($fromColor), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(bottom, $fromColor, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(bottom, $fromColor, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(bottom, $fromColor, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to top, $fromColor, rgba(0, 0, 0, 0)) 1 100%;
}
@mixin left-to-right($fromColor: #000) {
    -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from($fromColor), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(right, $fromColor, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(right, $fromColor, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(right, $fromColor, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to right, $fromColor, rgba(0, 0, 0, 0)) 1 100%;
}
@mixin right-to-left($fromColor: #000) {
    -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, from($fromColor), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(left, $fromColor, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(left, $fromColor, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(left, $fromColor, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to left, $fromColor, rgba(0, 0, 0, 0)) 1 100%;
}
.hide-on-fallback {
    display: block;
    position: fixed;
    left: -100%;
    height: 0;
    width: 0;
    overflow: hidden;
}

@mixin yellow-border{
    border: $yellow 4px solid;
    background: $white;
    padding: 6px;
}

.u-dash{
    display: inline-block;
    height: 0.9em;
    margin-top: 4.7em;
    background: $black;
    margin-left: 0.4em;
}

div.width-1200{
    max-width:1200px;
}

.invisible{
    overflow: hidden;
    width: 0px;
    height: 0px;
    text-indent: -10000px;
    margin: 0px;
}