// Body
$body-bg: $white;
// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'nexa_regularregular', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
// Buttons
$btn-default-color: $text-color;
// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
// Panels
$panel-default-heading-bg: #fff;
//
// Variables Manifiesto
// __________________________
// 
$font: $font-family-sans-serif;


//works
$desktop1500:"all and (max-width: 1500px)";
$desktop1366:"all and (max-width: 1366px)";
$desktop1280:"all and (max-width: 1280px)";
$desktop1240:"all and (max-width: 1240px)";
$tablet990:"all and (max-width: 990)";
$tablet992:"all and (max-width: 992px)";
$tabletLandscape:"all and (max-width: 1024px)";
$tabletPortrait:"all and (max-width: 768px)";
$mobileLandscape:"all and (max-width: 480px)";
$mobilePortrait:"all and (max-width: 320px)";
//Bootrstrap breakpoints
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-height-800: 800px;
$screen-height-900: 900px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
//MANIBREAKPOINTS
$maxWidth:1650px;
$tablet: 1024px;
$laptop: 1440px;
$mobile: $screen-xs-min;
$breakpoint: $tabletLandscape;
//EASING
$ease: cubic-bezier(0.940, -0.005, 0.030, 1.050);