//Preanimation
.preanimate {
  @include opacity(0);
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.fade-enter-active {
  transition: all .5s ease;
}
.fade-leave-active {
  transition: all .3s ease;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}

.fade-down-enter-active {
  transition: all 1.3s ease;
  height: 1em;
}
.fade-down-leave-active {
  transition: all 1.3s ease;
}
.fade-down-enter, .fade-down-leave-to{
  opacity: 0;
  height: 0;
}

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1) translateY(-50%);
  transform: scale(1) translateY(-50%);
}

//KEYFRAME ANIMATIONS

.animated {
      //reset because of flexslider
      -webkit-animation-duration: inherit;
      animation-duration: inherit; 
      -webkit-animation-fill-mode: inherit; 
      animation-fill-mode: inherit; 
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

/* @include keyframes (fadeInVue) {
    0%   { opacity: 0; }
    100% { opacity: 1; }
} */